@media screen and (max-width: 980px)  {
	.title-index span{
		margin: 0 auto;
	}
	.top-logo{
		position: absolute;
   		top: 0;
   		width: 99%;
   		left: 1%;

	}
	.list__menu{
		display: none;
	}
	.off{
		display: none;
	}
	.list{
		position: relative;
		background: #556889;
	}
	.list__menu{
		width: 70%;
	}
	.icon-share{
		display: none;
	}
	.pc-hide{
		display: block;
	}
	.subNav li:first-child{
		border-top: 1px solid #edf7f8;
	}
	.subNav li:nth-child(2){
		border-bottom: none;
	}
	.mean-nav ul .mean-last a{
		display: flex !important;
		align-items: center;
	}
	.icon-meanface{
		width: 12%;
		margin-right: 15px;
	}
	.list-location ul{
    	display: none;
	}
	.sp-hide{
		display: none;	
	}

	.province--sp ul {
	    display: none;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 99;
	    background-color: #f6f6f6;
	}
	.province--sp {
	    display: block;
	    height: 35px;
	    background-color: #f6f6f6;
	    border-top: 1px solid #aebdd8;
	    border-bottom: 1px solid #aebdd8;
	    color: #384761;
	    font-weight: bold;
	    overflow-wrap: break-word;
	    word-wrap: break-word;
	    position: relative;
	}
	.province--sp li a {
	    display: block;
	    height: 35px;
	    text-decoration: underline;
    	text-indent: 10px;
    	margin-top: 10px;
    	color: #334d5c;
	}
	.province--sp > span {
	    height: 35px;
	    display: block;
	    line-height: 2.3;
	    position: relative;
	    text-indent: 10px;
	    overflow-wrap: break-word;
	    word-wrap: break-word;
	}
	.province__arror {
	    display: block;
	    background: url('../images/destination_arrow_down.png') no-repeat center center;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 28px;
	    height: 35px;
	    margin-right: 1%;
	    -webkit-background-size: 28px auto;
	    background-size: 28px auto;
	    z-index: 100;
	}
	.banner__info p {
	    width: 90%;
	    margin: 0 auto;
	}

}
@media screen and (max-width: 1042px)  {
	.content{
		width: 96%;
	}
	.inner{
		width: 96%;
	}
	.banner__tittle2{
		top: 10%;
	}
}
@media screen and (max-width: 1136px) and (min-width: 641px){
	.learn-ramen{
		width: 100%;
		left: unset;
	}
	.learn-ramen ul li{
		width: 23%;
	}
	.learn-ramen ul{
		justify-content: space-around;
		width: 90%;
		margin: 0 auto;
		height: auto;
	}
}
@media screen and (max-width: 1136px){
	.top-logo1{
		width: 90%;
		margin: 0 auto;
	}
	
	.btn-view {
	    position: absolute;
	    bottom: 5px;
	    left: 22.5%;
	    width: 55%;
	}
	.ramen-video{
		position: relative;
		bottom: unset;
		right: unset;
		width: 100%;
		max-height: unset;
		height: 450px !important;
	}
	.remen-unit{
		height: 75%;
	}
	.ramen-off{
		display: none;
	}
	.ramen-on{
		display: block;
		background: #e60012;
		max-height: 360px !important;
		height: 100%;
	}
	.remen-unit{
		width: 60%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 768px){
	.content__index2--text{
		padding-top: 45px;
	}

/* 	.slider__content--img{
		padding: 0;
	} */
	.video-responsive{
		height: 100%;
		width: 100%;
	}
/* 	.slider__content{
		width: 94%;
		background: #958abf;
	} */
	.video-responsive iframe{
	    left:1%;
	    top:1%;
	    height:98%;
	    width:98%;
	    position:absolute;
	}
	.list-location ul li{
		width: 33%;
		border: none;
	}
	.list-location ul{
		justify-content: flex-start;
	}
	br{
		display: none;
	}
	.list-location li:nth-child(6) a, .list-location li:nth-child(7) a {
    	margin-top: 10px;
	}
	h1{
		text-align: center;
		margin-top: 30px;
	}
	.map{
		position: unset;
		margin: 0 auto;
		top: unset;
		right: unset;
		display: block;
		margin-top: 20px;
	}
	.wd-65{
		width: 100%;
	}
	.wd-70 p{
		width: 90%;
		margin: 0 auto;
	}
	.top-logo a:first-child{
		width: 70%;
	}
	.top-logo a img {
		width: 100%;
	}
	.banner__info p{
		width: 90%;
		margin: 0 auto;
	}
	.content__location{
		flex-wrap: wrap-reverse;
	}
	.content__location--text{
		width: 90%;
		margin: 0 auto;
	}
	.content__location a{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
	}
	.inner .content__location--text p{
		width: 100%;
	}
	.pd-95px {
   		padding: 40px 0 40px;
	}
	.footer__tittle--color , .footer__tittle--color1 ,.copy-right{
    	margin-top: 40px;
	}
	.footer__tittle{
		font-size: 16px;
	}
	.copy-right{
		font-size: 10px;
	}
	.footer__item a{
		width: 23%;
		margin: 0 0 10px 0;
	}
	.footer__item {
		justify-content: space-around;
	}
	/**page activity*/
	.fl-avata{
		flex-wrap: wrap-reverse !important;
	}
	.content{
		width: 90%;
		margin: 0 auto;
	}
	.content a{
		display: block;
		width: 100%;  
	}
	.content a img{
		float: right;
	}
	.content a:after{
		content: " ";
		clear: both;
		float: none;
	}
	.avata a{
		width: unset;
	}
	.content__item{
		width: 90%;
	}
	.inner{
		width: 90%;
	}
	.inner p {
		width: 100%;
	}
	.wt-28-8{
		width: 100% !important;
	}
	.list-item__img2{
		width: 44%;
	}
	.list-item__text2{
		width: 44% !important;
	}
	.list-item__img{
		width: 44%;
	}
	.list-item__text{
		width: 44% !important;
	}
	.small-img1 , .small-img2 ,.small-img3{
		width: 50%;
	}
	.thumb-item{
		flex-wrap: wrap;
	}
	.thumb-item p{
		width: 47%;
	}
	/**page index*/
	.title-index span{
		font-size: 38px;
	}
	.title-index span img{
		width: 7%;
	}
	.title-index{
		width: 90%;
	}
	.content__right--inner{
		width: 80%;
	}
	.learn-ramen{
		bottom: 0;
	}
	.ramen-video p{
		padding-top: 20px;
	}
}
@media screen and (max-width: 768px)  and (min-width: 641px){
	.logo-ramen a{
		width: 35%;
	}
	.learn-ramen ul li span{
		font-size: 15px;
	}
	.learn-ramen ul li{
		font-size: 14px;
		height: 70px !important;
	}
	.learn-ramen p{
		font-size: 22px;
	}
}
@media screen and (max-width: 325px){
	.list-location ul{
		font-size: 16px;
	}
}
@media screen and (max-width: 420px){
	.pd-95px,.pd-81px,.pd-81-95px {
    	padding: 20px 0 20px;
	}
	
	.avata{
		flex-wrap: wrap;
		justify-content: center;
	}
	.avata p{
		width: 100%;
		text-align: center;
	}
	.avata a img{
		padding: 0 0 10px 0;
		margin: 0 auto;
		display: block;
		float: none;
	}
	.content__item{
		flex-wrap: wrap;
	}
	.content__item p{
		width: 100%;
	}
	.content__item a{
		width: 100%;
		margin-top: 20px;
	}
	.thumb-item p{
		width: 100%;
	}
	.list-item__img2{
		width: 100%;
	}
	.list-item__text2{
		width: 100% !important;
	}
	.list-item__img{
		width: 100%;
	}
	.list-item__text{
		width: 100% !important;
	}
	.wt-32{
		width: 100% !important;
	}
	.content__info{
		width: 100% !important;
	}
	.content__info--img {
    	width: 100% !important;
	}
	.content{
		flex-wrap: wrap;
	}
	.avata p{
		font-size: 23px;
		margin-top: 10px;
	}
	.footer__item a{
		width: 48% !important;
	}
	.content__index2--text{
		padding-top: 20px;
	}
	.event-list{
		margin: 30px auto 30px;
	}
	.content__index2--text p {
		font-size: 16px;
	}
	.content__index2--text span{
		font-size: 30px;
	}
	.activity{
		flex-wrap: wrap;
	}
	.act__list{
		width: 90%;
		margin: 0 auto 30px;
	}
	.act__list li{
		width: 30%;
	}
}
@media screen and (max-width: 460px){
	.footer__item a{
		width: 30%;
		margin: 0 0 10px 0;
	}
	.footer__item{
		justify-content: space-around;
	}
	.list-item__img2{
		width: 100%;
	}
	.list-item__text2{
		width: 100% !important;
	}
	.content__index1--info ul li{
		width: 30% !important;
		padding-right: 3%;
	}
	.content__index1--info ul{
		justify-content: flex-start;
		
	}
	.content__index1--info ul li a{
		text-align: center;
		width: 100%;
		display: block;
	}
	.title-index span{
		font-size: 30px;
	}
	.banner span{
		font-size: 30px;
	}
	.banner p{
		font-size: 14px;
	}
}
@media screen and (max-width: 862px){
	.map{
		right: -250px;
	}
	

}
@media screen and (max-width: 720px) and (min-width: 421px ){
	.link-face{
		position: relative;
		width: 65%;
		top: unset;
		right: unset;
		margin: 20px auto;
	}
	.face-iframe{
		width: 80%;
		height: 100%;
		max-height: unset;
		margin: 0 auto;
		overflow: unset;
	}
	.face-iframe iframe{
		width: 100%;
		margin: 15px auto;
	}
	.content{
		flex-wrap: wrap;
	}
	.content__info{
		width: 100% !important;
	}
	.content__info--img {
    	width: 100% !important;
	}

	.wt-32{
		width: 48% !important;
	}
	.fl-warp{
		justify-content: space-between;
	}
	.br-top,.br-top2{
		margin-top: 20px ;
	}
}
@media screen and (max-width: 640px){

	.banner__tittle2{
		top: 5%;
	}
	.mt-70{
		margin-top: 35px;
	}
	.pb-70{
		padding-bottom: 35px;
	}
	.mt-60,.mt-55,.mt-48{
		margin-top: 34px;
	}
	.remen-unit{
		width: 94%;
		height: 75%;
	}
	.top-logo1 a:first-child{
		width: 65%;
	}
	.top-logo1 a:first-child img,.top-logo1 a:last-child img{
		width: 100%;
	}
	.top-logo1 a:last-child {
		width: 30%;
	}
	.content__index1--text p{
		width: 90%;
		margin: 0 auto;
	}
	.learn-off{
		display: none;
	}
	.learn-on{
		display: block;
	}
	.learn-ramen{
		left: unset;
		width: 100%;
		position: relative;
		bottom: unset;
		background: #e60012;
	}
	.logo-ramen{
		top: 30%;
	}
	.logo-ramen a{
		width: 40%;
	}
	.learn-ramen ul{
		justify-content: space-around !important;
	}
	.learn-ramen ul li{
		width: 45% !important;
	}
	.list__info{
		width: 90%;
	}
	.content-info{
		bottom: 5%;
	}
	.content__index1--text span{
		font-size: 22px !important;
	}
	.content__index1--text p{
		font-size: 12px !important;
	}
}
@media screen and (max-width: 720px){
	.inner__contact{
		flex-wrap: wrap;
	}
	.inner__contact--left, .inner__contact--right{
		width: 100%;
	}
}
@media screen and (max-width: 870px){
	.video{
		position: relative;
		top: unset;
		left: unset;
		height: 360px;
	}
	.video__content{
		width: 100%;
	}
	.video-responsive{
		height: 100%;
		width: 100%;
	}
/* 	.slider__content img{
		width: 50%;
	} */
	.btn-play{
		bottom: 8.5%;
    	right: 21.4%;
	}
	.activity{
		width: 90%;
	}
	.list-item li{
		width: 90%;
		margin: 0 auto;
	}
	.mr-0{
		margin: 0 auto !important;
	}
	.list-item li{
		flex-wrap: wrap;
		width: 100%;
	}
	.list-item__img{
		width: 100%;
		margin: 0 auto;
	}
	.list-item__text{
		width: 100% !important;
		margin: 0 auto;
	}
	.list-item__img2{
		width: 100%;
		margin: 0 auto;
	}
	.list-item__text2{
		width: 100% !important;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1250px){
	.content__index1--info{
		position: relative;
		top : unset;
		right: unset;
		max-width: 1600px;
		width: 100%;
	}
	.content__index1--info p{
		text-align: center;
		font-size: 30px;
	}
	.content__index1--info span{
		width: 100%;
	}
	.content__index1--info ul{
		width: 90%;
		margin: 0 auto;
		justify-content: space-between;
	}
	.content__index1--info li{
		width: unset !important;
	}
	.content__index1--info ul li:nth-child(even) {
		padding-left:0 ;
	}
	.content__index1--text{
		top: 5%;
	}
	/* .content-info{
		bottom: 15%
	} */
}
@media screen and (max-width: 1136px) and (min-width: 721px){
	.content__right--inner p:nth-child(2){
		margin-top: 15px;
	}
	.content__right--tittle1{
		font-size: 20px;
	}
	.content__right--inner{
		font-size: 12px;
	}
	.content__right--inner a{
		font-size: 12px;
	}
	.content__right--inner a img{
		width: 4%;
	}
	.content__right--tittle2{
		font-size: 20px;
	}
	.content__right--inner p:nth-child(2){
		font-size: 12px;
	}
}
@media screen and (max-width: 960px) and (min-width: 478px ){
	.content__index1--info ul li{
		width: 24% !important;
		padding-right: 1%;
	}
	.content__index1--info ul{
		justify-content: flex-start;
		
	}
	.content__index1--info ul li a{
		text-align: center;
		width: 100%;
		display: block;
	}

}
@media screen and (max-width: 420px){
	.mb-50{
		margin-bottom: 0;
	}
	.activity{
		margin-bottom: 0 !important;
	}
	.act__list{
		margin-bottom: 0;
	}
	.act__list li{
		margin-bottom: 30px;
	}
	.link-face{
		position: relative;
		width: 92%;
		top: unset;
		right: unset;
		margin: 20px auto;
	}
	.link-face p{
		text-align: center;
	}
	.face-iframe{
		width: 80%;
		height: 100%;
		max-height: unset;
		margin: 0 auto;
		overflow: unset;
	}
	.face-iframe iframe{
		width: 100%;
		margin: 15px auto;
	}
	.mt-10,.mr-49,.mr-69,.mr-34{
		margin: 0 auto !important;
	}
	.seasons-img{
		width: 80% !important;
	    margin:18px auto 30px !important;
	}
	.seasons-img1{
		width: 80% !important;
	}
	.mt-60,.mt-55,.mt-48{
		margin-top: 34px;
	}
	.js-sub img{
		width: 10%;
	}
	.avatar{
		justify-content: center;
	}

}
@media screen and (max-width: 360px){

	.content__index1--info ul li{
		width: 50% !important;
		padding-right: 0;
	}
	.content__index1--info ul{
		justify-content: flex-start;
		
	}
	.content__index1--info ul li a{
		text-align: center;
		width: 100%;
		display: block;
	}
	.content__right--tittle1{
		font-size: 24px !important;
	}
	.content__right--inner{
		font-size: 10px !important;
	}
	.content__right--inner a{
		font-size: 10px !important;
	}
	.content__right--inner a img{
		width: 4%;
	}
	.content__right--tittle2{
		font-size: 18px !important;
	}
	.content__right--inner p:nth-child(2){
		font-size: 10px !important;
	}
	.content__right--inner{
		top: 6.5%;
	}
}

@media screen and (max-width: 530px){
	.content__right--tittle1{
		font-size: 20px;
	}
	.content__right--inner{
		font-size: 12px;
	}
	.content__right--inner a{
		font-size: 12px;
	}
	.content__right--inner a img{
		width: 4%;
	}
	.content__right--tittle2{
		font-size: 20px;
	}
	.content__right--inner p:nth-child(2){
		font-size: 12px;
	}
	.list__menu{
		flex-wrap: wrap;
	}
	.list__menu a{
		width: 30%;
		margin: 5px auto;
	}
}
@media screen and (max-width: 624px){
	.banner__tittle p{
		width: 40% !important;
	}
	.banner__tittle{
		top: 12%;
	}
	.content__right--inner p:nth-child(2){
		margin-top: 30px;
	}
}
@media screen and (max-width: 750px){
	.content__index1--text span{
		font-size: 30px;
	}
	.content__index1--text p{
		font-size: 14px;
	}
}
@media screen and (max-width: 477px){
	.content__index1--info ul li{
		width: 30% !important;
		padding-right: 3%;
	}
	.content__index1--info ul{
		justify-content: flex-start;
		
	}
	.content__index1--info ul li a{
		text-align: center;
		width: 100%;
		display: block;
	}
	.video{
		height: 240px;
	}
}
@media screen and (max-width: 380px){
	.list__info{
		width: 80%;
	}
}
@media screen and (max-width: 1075px) and (min-width: 981px)  {
	.banner__info--color1 p{
		width: 90%;
		margin: 0 auto;
	}
	.logo-page{
		margin-left: 5%;
	}
	.logo-page1{
   		margin-right: 5%;
	}
}
@media screen and (max-width: 400px){
	.content__right--inner p:nth-child(2){
		margin-top: 15px;
	}
}