html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    font-size: 16px;
    font-family: Arial,sans-serif;
    position: relative;
}
.header{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arial,sans-serif;
    position: relative;
}
.top-logo{
    max-width: 1042px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 55px;

}
/** menu css */
.nav{
    width: 100%;
    background: #334d5c;
}
.nav__menu{
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
}
.nav__menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu ul li a{
    color: #ffffff;
    text-decoration: none;
    line-height: 1.8;
    text-align: center;
}
.nav__menu ul li a span{
    width: 100%;
    display: block;
    text-align: center;
}
.nav__menu ul li a:hover{
    border-bottom: 1px solid #ffffff;
}
.status{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: #f0f0f0;
}
.status span{
    color: #334d5c;
}
.status a{
    max-width: 1042px;
    margin: 0 auto;
    font-size: 12px;
    color: #9d9d9d;
    line-height: 2.5;
    display: block;
}

.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.banner{
    width: 100%;
    position: relative;
}
.full-img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.banner__info--color1{
    background: #6299cb ;
    height: 118px;
}
.banner__info span{
    font-size: 34px;
    font-family: Times New Roman,sans-serif;
    display: block;
}
.banner__info p{
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    line-height: 1.8 !important;
}
.content{
    max-width: 1042px !important;
    width: 100%;
    margin: 0 auto;
    color: #666666;
    font-family: MS PGothic; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* .content a{
    width: 24.2%;
} */
.content__avata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px auto 10px;
    width: 100%;
    max-width: 1042px; /*backup*/
}
.dl-inline{
    display: inline-block;
}
.avata{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: MS Mincho;
}
.avata img{
    padding-right: 20px;
}
.avata p{
    font-size: 34px;
}
.content__info{
    width: 72.1%;
}
.content__info--img{
    width: 25.2%;
     /*edit*/
}
.content__info--tittle{
    font-size: 24px !important;
    margin-top: 43px; /*edit*/
}
.content__info--tittle3{
    font-size: 14px;
    font-weight: bold;
}
.content__info p{
    margin-bottom: 13px;  /*edit*/
    font-size: 14px;
    line-height: 1.8;
}
.content__info--tittle2{
    font-size: 24px !important;
    font-family: MS Mincho;
    margin-top: 47px; /*edit*/

}
.br-content{
    border: 1px dotted #999999;
    margin-top: 16px;
}

.content__item{
    max-width: 1042px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    __align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.8;
}
.content__item a{
    width: 155px; /*edit*/
    min-width: 155px; /*edit*/
}
.content__item a img{
    margin: 0 auto;
    display: block;
}
.content__item span{
    font-weight: bold;
    display: block;
}
.inner{
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: MS PGothic; 
}
.inner1{
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: MS PGothic; 
}
.inner1 p{
    width: 87.5%;
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 1.8;
}
.inner p{
    width: 87.5%;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.8;
}
.thumb-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.thumb-item img{
    width: 100%;
    display: block;
    margin-bottom: 6px; /**edit*/
}
.thumb-item p{
    width: 23.8%;
}
.thumb-item span{
    display: block;
    font-weight: bold;
}
.br-top{
    border-top: 1px dotted #999999;
}
.br-top2{
    border-top: 1px solid #999999;
}
.btn-close{
    position: absolute;
    top: -41px;
    right: 10px;
    cursor: pointer;
}
.btn-close1{
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
}
.over-table{
    height: 454px;
    overflow-y:auto ;
    margin-bottom: 60px;
}
table{
    width: 100%;
   font-size: 13px;
}
tr{
    width: 100%;
    
}
tr th{
    text-align: center;
}
tr th:nth-child(1){
    width: 13%;  /**edit*/
}
tr th:nth-child(2){
    width: 18.5%;
}
tr th:nth-child(3){
    width: 44%;
}
tr:nth-child(1){
    background: #498faf;
    color: #ffffff;
    font-weight: bold;
    line-height: 3.5; /**edit*/
    border-bottom: 5px solid #ffffff;
}
th{
    border-right: 9px solid #ffffff;
    box-sizing: border-box;
}
tr {
    background: #f0f0f0;
}
td{
    border-right: 9px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    box-sizing: border-box;
    line-height: 1.7;
    vertical-align: middle;
    padding:11px 0 8px 20px;
}
.list-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.list-item li{
    border-bottom: none !important;
    display: flex;
    width: 50%;
}
.list-item span{
    font-weight: bold;
    display: block;
}
.list-item__text{
    width: 60% !important;
}
.list-item__img{
    width: 29%;
    margin-bottom: 20px;
    padding-right: 5%;
}
.list-item__img img{
    width: 100%;
}
.list-item :nth-child(even) .list-item__img{
    padding-left: 1%;

}
.wt-32{
    width: 32% !important;
    __margin-right: 1.2%;
    margin-bottom: 16px !important;
}
.fl-warp{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.list-item__text2{
    width: 43.4% !important;
    margin-right: 2.45%;
}
.list-item__img2{
    width: 46.8%;
    margin-bottom: 20px;
    margin-right: 2.45%;
}
.list-item__img2 img{
    width: 100%;
}
.small p{
    width: 19.2%;
}
.small-img1{
    min-height: 142px;
    width: 81%;
    margin: 0 auto;
    display: block;
}
.small-img2{
    min-height: 142px;
    width:95%;
    margin: 0 auto;
    display: block;
}
.small-img3{
    min-height: 142px;
    width: 84%;
    margin: 0 auto;
    display: block;
}
.wt-28-8{
    width: 28.8%;
    padding-right: 4.5%;
}
.no-mar{
    margin-bottom: 0;
}
.content__info span{
    font-weight: bold;
    display: block;
}
.mb-50{
    margin-bottom: 50px;
}
.inner span{
    display: block;
    font-weight: bold;
}
.wd-50p{
    font-size: 12px !important;
}
.footer{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.footer__tittle{
    color: #ffffff;
    font-size: 22px;
    line-height: 4.25;
    text-align: center;
    margin-bottom: 40px;
    font-family: Times New Roman,sans-serif;
}
.footer__tittle--color{
    background: #333333;   
    margin-top: 118px;
}
.footer__item{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer__item a{
    width: 17.3%;
    margin:0 2.7% 10px 0;


}
.footer__item a img{
    width: 100%;
}
.footer__tittle--color1{
    background: #c40309;   
    margin-top: 70px;
}
.copy-right{
    background: #f6f6f6;
    color: #999999;
    text-align: center;
    font-size: 12px;
    line-height: 4;
    padding-bottom: 10px;
    margin-top: 60px;
}
/**Page Hokkaido*/
.banner__info--color2{
    background: #c9605d ;
    height: 118px;
}
.list-location ul{
    display: flex;
    justify-content: space-between;
    font-family: Arial,sans-serif;
    font-size: 18px;
    margin-top: 50px;
    /* flex-wrap: wrap; */
}
.list-location ul li{
    border-right: 1px solid #334d5c;
    box-sizing: border-box;
    __width: 10%;
}
.list-location ul li:last-child{
    border: none;
}
.list-location span{
    font-weight: unset;
    text-align: center;
    display: block;
    width: 100%;
}
.list-location a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #334d5c;
    /* width: 100%; */
    margin-top: 10px;
    padding: 0 25px;
}
.list-location li:nth-child(1) a{
    margin-left: 0;
    padding-left: 0;
}
.list-location li:nth-child(10) a{
    margin-left: 0;
    padding-right: 0;
}
.list-location li:nth-child(6) a , .list-location li:nth-child(7) a{
    margin-top: 0;
}
.list-location a:hover{
    border-bottom: 1px solid #000000;
}
h1{
    font-size: 32px;
    font-family: Times New Roman,sans-serif;
    color: #334d5c;
    margin-top: 48px;
    margin-bottom: 5px;
}
.map{
    position: absolute;
    right: -308px;
    top: -35px;
}
.wd-65{
    width: 65.625%;
    position: relative;
}
.wd-70 p{
    width: 70%;
    font-size: 16px;
    color: #5a6c77;
    margin: 20px 0 50px;
    line-height: 1.4;
}
.content__location{
    display: flex;
    justify-content: flex-start;
}
.content__location a{
    display: block;
    width: 28.8%;
    padding-right: 3.8%;
}
.content__location--text{
    width: 66%;
}
.content__location--tittle{
    font-size: 28px !important;
    line-height: 1!important;
    margin-bottom: 10px !important;
}
.content__location--tittle span{
    display: inline-block;
    font-weight: unset;
    font-family: Times New Roman,sans-serif;
}
.content__location--tittle{
    font-family: MS Mincho,sans-serif;
}
.content__location--text p{
    margin-bottom: 30px;
    line-height: 1.6;
}
.pd-90px{
    padding: 90px 0 53px;
}
.bg-color{
    background: #f6f6f6;
}
.link-content a{
    display: block;
    color: #384761;
}
.pt__link-content{
    padding-top: 14px;
}
.link-content p{
    line-height: 1.5;
    font-size: 15px;
    padding-left: 2.9%;
}
.link-content span{
    font-weight: bold;
}
/**page index*/
.icon-share{
    position: absolute;
    top: 4%;
    right:18.1%;
    width: 6.3125%;
}
.icon-share:hover{
    opacity: 0.8;
}
.top-logo1{
    max-width: 1042px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 55px;
}
.banner__tittle{
    position: absolute;
    width: 100%;
    top: 28%;
}
.banner__tittle p{
    font-family: Times New Roman,sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    width: 19.625% !important;
    margin: 0 auto;
}
.banner span,.banner p{
    color: #ffffff;
    font-family: Times New Roman;
  /*   text-align: center; */
}
.banner p{
    font-size: 16px;
    width: 100%;
    letter-spacing: 1px;
}
.banner span{
    font-size: 32px;
    display: block;
    line-height: 1.6;
    padding-top: 15px;
}
.banner__tittle img{
    display: block;
    margin: 0 auto;

}
.list{
    position: absolute;
    bottom: 4%;
    width: 100%;
}
.list__menu{
    width:592px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.list__menu a{
    width: 13.2%;
}
.title-index{
    text-align: center;
    font-size: 20px;
    font-family: Times New Roman,sans-serif;
    color: #384761;
    margin: 55px auto 0;
}
.title-index span{
    font-size: 42px;
    display: block;
    margin-right: 85px;
}
.title-index span img{
    padding-right: 5px;
}
.event-list{
    display: flex;
    width: 100%;
    max-width: 780px;
    margin: 61px auto 95px;
    flex-wrap: wrap;
    line-height: 1.8;
}
.event-list li{
    margin-top: 10px;
}
.event-list li a{
    padding-left: 5%;
    color: #384761;
    display: block;
    text-decoration-color: #aeb2ba;
}
.content__right--inner  img{
    padding-left: 18px;
}
.event-list li:nth-child(even){
    width: 75%;
    border-left: 1px solid #c9c9c9;
    box-sizing: border-box;
    color: #384761;
}
.event-list li:nth-child(odd){
    width: 20%;
    padding-left: 5%;
    color: #666666;
}
.inner__contact{
    display: flex;
}
.inner__contact--left,.inner__contact--right{
    width: 50%;
}
.inner__contact--right{
    position: relative;
}
.content__right--inner span,.content__right--inner a{
    display: block;
}
.content__right--inner span{
    line-height: 1.6;
}
.content__right--tittle1{
    font-family: Times New Roman;
    font-size: 36px;
}
.content__right--tittle2{
    font-family: Times New Roman;
    font-size: 28px;
}
.content__right--inner{
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 9.5%;
    left: 6.75%;
    width: 59.125%;
    line-height: 1.8;
}
.content__right--inner a{
    font-size: 18px;
    color: #384761;
}
.content__right--inner p:nth-child(2){
    font-size: 17px;
    margin-top: 25px;
}
.btn-subscrite{
    width: 100%;
    background: #384761;
    text-align: center;
    line-height: 2.8;
    color: #ffffff !important;
    text-decoration: none;
}
.btn-subscrite:hover{
    opacity: 0.7;
}
.text-showdow{
    text-shadow: 4px 2px 5px  #000000,-4px 2px 5px  #000000;
}
.banner__tittle2{
    position: absolute;
    top: 14%;
    width: 100%;
    text-align: center;
}
.banner__tittle2 p{
}
.video__content--img{
    width: 94%;
    margin: 0 auto;
    display: block;
    padding: 3% 0;
}
.video__content{
    width: 22.4375%;
    background: rgba(88, 88, 109, 0.4);
    margin: 0 auto;
    position: relative;
}
.video{
    position: absolute;
    top: 38%;
    width: 100%;
    height: 55%
}
.btn-play{
    position: absolute;
    bottom: 5.5%;
    right: 8.4%;
    width: 19%;
}
.content__index1{
    position: relative;
}
.content__index1--text{
    position: absolute;
    text-align: center;
    width: 100%;
    color: #384761;
    top: 19%;
}
.content__index1--text span{
    font-family: Times New Roman;
    font-size: 40px;
    display: block;
}
.content__index1--text p{
    font-family: Times New Roman;
    font-size: 20px;
}
.content__index1--info{
    position: absolute;
    top: 42.5%;
    right: 19.5%;
    max-width: 261px;
    border-bottom: 1px dotted #384761;
}
.content__index1--info ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    line-height: 1.8;
   
}
.content__index1--info ul li a{
    color: #384761;
}
.content__index1--info ul li{
    width: 50%;
}
.content__index1--info ul li:hover a{
    color: #c9605d;
}
.content__index1--info ul li:last-child{
    margin-bottom: 25px;
}
.content__index1--info span{
    display: inline-block;
    border-bottom: 1px dotted  #384761;
    width: 80%;
    margin-bottom: 4px;
}
.content__index1--info p{
    margin-bottom: 25px;
    font-size: 14px;
    color: #384761;
}
.content__index1--info ul li:nth-child(even){
    width: 45%;
    padding-left: 5%;
}
.content__index1--tittle{
    font-size: 20px;
}
.bg-color1{
    background: #dce6ef;
}
.content__index2--text{
    text-align: center;
    width: 100%;
    color: #384761;
    padding-top: 95px;
}
.content__index2--text span{
    font-family: Times New Roman;
    font-size: 40px;
    display: block;
    margin-bottom: 6px;
}
.content__index2--text p{
    font-family: Times New Roman;
    font-size: 20px;
}
.activity{
    max-width: 835px;
    width: 100%;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.act__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.act__list li{
    width: 21.6%;
    margin-bottom: 65px;
}
.act__list--text{
    text-decoration: none;
    color: #384761;
    font-size: 16px;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 12px;
}
.act__list--item{
    width: 100%;
   
}
.act__list--img{
    position: relative;
}
.btn-seemore{
    width: 32.2%;
    position: absolute;
    right: 0;
    bottom: -2.6%;
}
.top-index{
    top: 27%;
}
.content-info{
    width: 100%;
    position: absolute;
    bottom: 25%;
}
.list__info{
    width: 58.75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.list__info--item{
    width: 14.89%;
    position: relative;
}
.btn-view-more{
    position: absolute;
    margin: 0 auto;
    width: 79%;
    bottom: 10.5%;
    left: 10.5%
}
.footer__tittle--color2{
    background: #384761;
}
.logo-ramen{
    width: 100%;
    position: absolute;
    top: 4.6%;
}
.logo-ramen a{
    display: block;
    margin: 0 auto;
    width: 22.7%;
}
.logo-ramen a img{
    display: block;
}
.learn-ramen{
    text-align: center;
    color:#384761; 
    width: 26.5%;
    position: absolute;
    bottom: 8%;
    left: 21.1625%;
}
.learn-ramen p{
    color: #ffffff;
    font-family: Times New Roman;
    font-size: 29px
}
.learn-ramen ul{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between; 
    font-size: 15px;
}
.learn-ramen ul li span{
    color: #e60012;
    font-weight: bold;
    display: block;
    font-size: 20px;
}
.learn-ramen ul li{
    background: #ffffff;
    border-radius: 10px;
    width: 48%;
    line-height: 1.2;
    margin-top: 3%;
    height: 85px !important;
    position: relative;
}
.ramen-on{
    display: none;
}
.ramen-img{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
.learn-ramen ul li a{
    display: block;
}
.learn-ramen ul li:nth-child(1) span,
.learn-ramen ul li:nth-child(3) span,
.learn-ramen ul li:nth-child(4) span{
    padding-bottom: 10px;
}
.btn-view{
    position: absolute;
    bottom: 5px;
    left: 22.5%;
    width: 55%;
}
.ramen-video{
    width: 26.375%;
    position: absolute;
    bottom: 8%;
    right: 21.875%;
    max-height: 230px;
    height: 100%;
}
.ramen-video p{
     font-family: Times New Roman;
     font-size: 18px;
     color: #ffffff;
     text-align: center;
     margin-bottom: 2.4%;
}
.ramen-video span{
    font-size: 22px;
    display: block;
}
.learn-on{
    display: none;
}
#page-top{
    display: block;
    position: fixed;
    bottom: 18%;
    width: 21px;
    right: 5%;
    padding: 15px;
    background: #595959;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    max-height: 24px;
}
.pd-81px{
    padding: 81px 0;
}
.pd-79-70px{
    padding: 79px 0 70px;
}
.mb-8{
    margin-bottom: 8px !important;
}
.pc-hide{
    display: none;
}

.triangle{
    border-right: 9px solid transparent;
    border-left:  9px solid transparent;
    border-bottom:  10px solid #ffffff;
    position: absolute;
    top: -9px;
    left: 30px;
}
.item-list{
    position: absolute;
    background: #ffffff;
    bottom:  -63px;
    box-shadow: 3px 3px 3px #cccccc;
    display: none;
}
.item-list__child{
    position: relative;
}
.item-list li{
    width: 200px;
}
.item-list li a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.list__menu li:hover img{
    opacity: 0.8;
}
.list__menu li:hover .item-list{
    display: block;
    opacity: 1 !important;
} 
.inner__contact--left{
    background: url('../images/bg-face.jpg');
    background-size: cover;
    position: relative;
}
.click-active{
}
.video-responsive{
    overflow:hidden;
    /* padding-bottom:56.25%; */
    position:relative;
    height:94%;
}
.video-responsive iframe{
    left:3%;
    top:3%;
    height:92%;
    width:94%;
    position:absolute;
}

.change-active{
    overflow: hidden;
    height: auto !important;
} 
.contentJs{
    overflow: hidden;
    position: relative;
}
.act__list li:hover{
    opacity: 0.7;
}
.act__list li:hover a{
    color: #c9605d;
}
.act__list li p{
    position: relative;
}
.remen-unit{
    width: 100%;
    height: 80%;
}
.remen-unit iframe{
    width: 100%;
    height: 100%;
}
.face-iframe{
    width: 100%;
    max-height: 340px;
    height: 100%;
    overflow: hidden;
    
}
.face-iframe iframe{
    width: 100%;
}
.link-face{
    width: 59%;
    height: 65%;
    position: absolute;
    right: 6.5%;
    top: 12.6%;
}
.link-face p{
    font-size: 36px;
    font-family: Times New Roman,sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}


/*container backup*/
.list-page li{
    margin: 0 auto;
    border-bottom:  1px solid #cccccc;
}
.contentJs{
    padding-bottom: 40px;
    position: relative;
    max-width: 1042px;
    margin: 0 auto;
}
.btn-sub{
    padding-right: 47px;
    padding-bottom: 14px;
}
.pb-39{
    padding-bottom: 39px;
}
.pt-72{
    padding-top: 72px;
}
.pt-37{
    padding-top: 37px;
}
.mt-10{
    margin-top: 10px !important;
}
.mr-49{
    margin-right: 49px !important;
}
.mr-69{
    margin-right: 69px !important;
}
.mr-34{
    margin-right: 34px !important;
}
.ml-0{
    margin-left: 0;
}
.mt-5{
    margin-top: 5px;
}
.lh-2{
    line-height: 2;
}
.lh-1{
    line-height: 1;
}
.mb{
    margin-bottom: 5px;
}
.pb-58{
    padding-bottom: 58px;
}
.mt-60{
    margin-top: 60px;
}
.mb-14{
    margin-bottom: 14px !important ;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mt-44{
    margin-top: 44px;
}
.seasons-img{
    width: 91% !important;
    margin-top: 18px;
    margin-bottom: 30px !important;
}
.seasons-img1{
    width: 91% !important;
    margin: 18px auto 30px !important;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-30{
    margin-bottom: 30px;
}
.ls-1{
    letter-spacing: 1px;
}
.mt-30{
    margin-top: 30px;
}
.pb-10{
    padding-bottom: 10px;
}
.mt-55{
    margin-top: 55px;
}
.mb-12{
    margin-bottom: 12px;
}
.mt-35{
    margin-top: 35px !important;
}
.mb-9{
    margin-bottom: 9px;
}
.mb-2p{
    margin-bottom: 2px !important;
}
.mt-48{
    margin-top: 48px ;
}
/* .mt-14{
    margin-top: 14px !important;
} */
.mt-0{
    margin-top: 0 !important;
}
.pt-20{
    padding-top: 20px;
}
.pb-70{
    padding-bottom: 70px;
}
.mt-70{
    margin-top: 70px;
}
.mb-12{
    margin-bottom: 12px;
}
.pb-0{
    padding-bottom: 0;
}
.pl-1per{
    padding-left: 1.4%;
    padding-right: 1.4%;
}
.mb-0{
    margin-bottom: 0;
}
.mb-22{
    margin-bottom: 22px;
}
.mb-24{
    margin-bottom: 24px !important;
}
.pr-46{
    padding-right: 46px;
}
.pb-25{
    padding-bottom: 25px;
}
.mt-40{
    margin-top: 40px;
}
.mt-13{
    margin-top: 13px;
}
.mr-0{
    margin: 0 !important;
}
.list-item__img3{
    width: 23.4%;
    margin-bottom: 20px;
    margin-right: 2.45%;
}
.list-item__text3{
    width: 21.5% !important;
    margin-right: 2.45%;
}
.list-item__img3 img{
    width: 100%;
}
.mt-13{
    margin-top: 13px;
}
.mb-50{
    margin-bottom: 50px;
}
.pr-10{
    padding-right: 10px;
}
.pt-23{
    padding-top: 23px !important;
}
.pd-78{
    padding: 78px 0 76px;
}
.lh-1-4{
    line-height: 1.4 !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.pt-81{
    padding-top: 81px;
}
.pb-71{
    padding-bottom: 71px;
}
.mb-24{
    margin-bottom:  24px;
}
.mb-16{
    margin-bottom: 16px !important;
}
.mt-100{
    margin-top: 100px;
}