@charset "utf-8";
/**
 * Button
 */
/* [B001]
-----------------------------------------------*/
.btn{
  &__top{
    position: absolute;
    right:10px;
    top:-21px;
    width: 113px;
    background: url(../images/bg_to_top.png) no-repeat top center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    height: 21px;
    color: white;
    text-decoration: none;
    &::before{
      content:"";
      width: 0; 
      height: 0; 
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-bottom: 7px solid $white-base;
      margin-right: 3px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}
