@charset "utf-8";
/**
 * Button
 */
/* [B001]
-----------------------------------------------*/
.list{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  &__menu{
    background: $red-darken-1;
    color: $white-base;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px 6px;
    flex-wrap: wrap;
    @media (max-width:$media-tablet) {
      padding: 0 10px 25px;
    }
    li{
      display: flex;
      align-items: center;
      font-size: 12px;
      letter-spacing: -1px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 6px;
      border-right: 1px solid $white-base;
      @media (max-width:$media-tablet) {
        width: 29%;
        &:nth-child(3), &:nth-child(6){
          border-right: 0;
        }
        &:nth-child(4),&:nth-child(7){
          padding-left: 0;
        }
      }
      @media (max-width:$media-sp) {
        &:first-child{
          width: 100%;
          border-right: 0;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(6){
          padding-left: 0;
          border-right: 1px solid $white-base;
          width: auto;
        }
        &:nth-child(3), &:nth-child(5), &:nth-child(7){
          width: 60%;
          padding-left: 10px;
          border: 0;
        }
      }
      &:first-child{
        padding-left: 0;
      }
      a{
        color: $white-base;
        text-decoration: none;
        @media (max-width:$media-sp) {
          text-decoration: underline;
        }
      }
      &::before{
        @extend %icn__arrow;
        border-left:8px solid $white-base;
        margin-right: 4px;
      }
      &:last-child{
        border-right: 0;
      }
    }
  }
  &__hotel{
    padding: 0 0 10px 0;
    &:first-child{
      padding: 15px 0 0;
    }
    li{
      border: 1px solid $border-color;
      padding: 1px;
      width: calc(25% - 12px);
      margin: 0 9px 10px 0;
      background: $base-color-light;
      @media (max-width:$media-tablet) {
        &:nth-child(even){
          margin: 0 0 10px 0;
        }
        width: calc(50% - 10px);
      }
      @media (max-width:$media-sp) {
        margin-right: 0;
        width: 100%;
      }
      &:nth-child(4){
        margin-right: 0;
        width: calc(25% - 12px);
        @media (max-width:$media-tablet) {
          width: calc(50% - 10px);
        }
        @media (max-width:$media-sp) {
          width: 100%;
        }
      }
      &:last-child{
        margin-right: 0;
        background: none;
      }
      a{
        display: block;
        border: 1px solid $border-color;
        text-decoration: none;
        padding-bottom: 10px;
        font-size: 12px;
        height: calc(100% - 12px);
        @media (max-width:$media-sp) {
          padding-bottom: 0;
          height: auto;
        }
      }
      figure{
        max-width: 100%;
        margin-top:7px;
        @media (max-width:$media-sp) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0;
        }
        img{
          width: auto;
          margin: 0 auto;
          display: block;
          @media (max-width:$media-sp) {
            margin: 0;
          }
        }
        figcaption{
          margin-top: 3px;
          color: $body-color;
          text-align: center;
          opacity: 0.8;
          font-size: 10px;
          @media (max-width:$media-tablet) {
            font-size: 14px;
          }
          @media (max-width:$media-sp) {
            margin: 5px 5px 5px 0
          }
        }
      }
    }
  }
  &__content{
    border: 1px solid $border-color;
    .title__list--red1{
      margin-top: 5px;
    }
    @media (max-width:$media-sp) {
      .list__content--items{
        flex-wrap: wrap;
        p{
          width: 100%;
        }
        figure{
          width: 100%;
          margin-left: 0;
          margin-bottom: 10px;
          order: -1;
          img{
            width: auto;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    &--items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 15px 0 7px;
      padding-bottom: 15px;
      font-size: 12px;
      line-height: 1.5;
      p{
        width: calc(52% - 10px);
        letter-spacing: -0.5px;
        @media (max-width:$media-tablet) {
          width: calc(62.8% - 10px);
        }
      }
      figure{
        width: 48%;
        margin-left: 10px;
        @media (max-width:$media-tablet) {
          width: 37.2%;
        }
        img{
          width: auto;
        }
      }
    }
    .title__list--red{
      margin-top: 10px;
    }
  }
  &__content1{
    line-height: 1.5;
    li{
      margin-top: 15px;
      display: flex;
      padding: 0 7px 15px;
      border-bottom: 1px solid $border-color;
      @media (max-width:$media-sp) {
        flex-wrap: wrap;
      }
      .title__list--left{
        font-size: 12px;
        padding: 0;
        margin-bottom: 10px;
      }
      &:last-child{
        border-bottom: 0;
      }
    }
    &--date{
      min-width: 80px;
      margin-right: 5px;
      font-size: 12px;
    }
  }
  &__news{
    @media (max-width:$media-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    li{
      border: 1px solid $border-color;
      margin-bottom: 2px;
      @media (max-width:$media-tablet) {
        width: calc(50% - 7px);
        &:nth-child(odd){
          margin-right: 10px;
        }
        &:nth-child(6){
          order: 7;
        }
      }
      @media (max-width:$media-sp) {
        width: 100%;
        &:nth-child(odd){
          margin-right: 0;
        }
        &:nth-child(7){
          order: 8;
        }
      }
      .title__list--left{
        letter-spacing: -0.5px;
        span{
          font-size: 10px;
        }
      }
      .title__list{
        text-align: left;
        padding: 4px 7px;
        font-weight: 600;
        &:after{
          @extend %icn__arrow--large; 
          margin-left: 5px;
          border-left:10px solid $white-base;
        }
      }
      .news__info{
        padding: 7px 7px 10px;
      }
    }
    .list__content--items{
      padding: 6px 7px;
      margin: 0;
      font-size: 10px;
      p{
        width: calc(52% - 5px);
        @media (max-width:$media-tablet) {
          width: calc(62.8% - 10px);
        }
      }
      figure{
        margin-left: 5px;
      }
    }
  }
}
.list__hotel li.news{
  padding: 0;
  width: calc(25% - 10px);
  @media (max-width:$media-tablet) {
    width: calc(50% - 8px);
  }
  @media (max-width:$media-sp) {
    width: 100%;
  }
}
.news{
  &__info{
    padding: 5px 7px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -1px;
  }
}
.link__policy{
  color: $white-base;
  text-decoration: none;
  position: absolute;
  right: 0;
  font-size: 10px;
  letter-spacing: 0;
  @media all and (-ms-high-contrast:none)
  {
    right: 12px;
  }
  @-moz-document url-prefix() { 
    right: 12px;
  }
  &::before{
    @extend %icn__arrow;
    margin-right: 5px;
    border-left:8px solid $white-base;
  }
  @media (max-width:$media-tablet) {
    top:-30px;
  }
}

