@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "MSPGothic", "Hỉagino Gothic", sans-serif;
    background: url(../images/wall-texture.jpg) repeat-y center center;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

body img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.header {
    width: 100%;
    max-width: 644px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.header .header__video {
    background: url(../images/header__video.jpg) no-repeat;
}

.header .header__video img {
    display: block;
    margin: 0 auto;
}

.header .header__video iframe {
    width: 90%;
    display: block;
}

.header .header__video a {
    background: url(../images/hearder-bg-tittle.png) no-repeat center center;
    width: 79.41860465116279%;
    display: block;
    margin: 0 auto;
    height: 85px;
    margin-bottom: 30px;
}

.header .header__video a img {
    padding-top: 27px;
}

.header .header__video .video {
    margin: 0 auto;
    display: block;
}

.header .header__video .header__txt {
    margin-top: 60px;
    margin-bottom: 40px;
}

.header .header__video .header__txt2 {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 644px;
    margin: 0 auto;
    overflow: hidden;
}

.content-item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ecdf87;
}

.content-item li {
    display: block;
    position: relative;
    width: 50%;
    background: #ecdf87;
}

.content-item li p {
    width: 100%;
    position: absolute;
    display: block;
    color: #2a262d;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    background: #f4ecb7;
    line-height: 2;
}

.content-item li img {
    margin: 0;
    display: block;
}

.content-item li:nth-child(2) img {
    padding-top: 45px;
}

.content-item li:nth-child(3) img {
    padding-top: 45px;
}

.content-item li:nth-child(4) img {
    padding-top: 45px;
}

.content-item li:nth-child(5) img {
    padding-top: 45px;
}

.content-item li:nth-child(6) img {
    padding-top: 45px;
}

.content-item li:nth-child(7) img {
    padding-top: 45px;
}

.content-item li:nth-child(1),
.content-item li:nth-child(2) {
    display: block;
    width: 100%;
}

.content-item li:nth-child(1) img,
.content-item li:nth-child(2) img {
    display: block;
}

.content-item li:nth-child(4) {
    width: 50%;
    border-right: 1px solid #6cbc64;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content-item li:nth-child(5) {
    width: 50%;
}

.content-item li:nth-child(6) {
    width: 50%;
    border-right: 1px solid #6cbc64;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content-item li:nth-child(7) {
    width: 50%;
}

.content-item li:nth-child(8),
.content-item li:nth-child(3) {
    display: none;
}

.content-text {
    background: url(../images/wall-texture.jpg) repeat-y center center;
    width: 100%;
    padding-bottom: 30px;
}

.content-text__inner {
    padding-top: 40px;
    background: #dfd277 url(../images/inner-bg.jpg) no-repeat center top;
    max-width: 644px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 45px;
}

.content-text__inner ul {
    margin: 0 auto;
    max-width: 684px;
    width: 96%;
    margin: 0 auto;
}

.content-text__inner li {
    font-size: 13px;
    color: #097680;
    line-height: 1.6;
}

.content-text__inner li p {
    padding-left: 10px;
}

.content-text__inner li:nth-child(1) {
    font-size: 24px;
}

.content-text__inner li:nth-child(12) {
    padding-top: 20px;
}

.content-text__inner a {
    max-width: 644px;
    background: -webkit-gradient(linear, left bottom, left top, from(#b7a314), to(#ebdd84));
    background: -webkit-linear-gradient(bottom, #b7a314, #ebdd84);
    background: -moz-linear-gradient(bottom, #b7a314, #ebdd84);
    background: -o-linear-gradient(bottom, #b7a314, #ebdd84);
    background: linear-gradient(to top, #b7a314, #ebdd84);
    height: 63px;
    display: block;
    margin: 100px auto 0 auto;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #4469d5;
    line-height: 2.2;
    border: 2px solid #b2b720;
    width: 96%;
    margin: 50px auto 0 auto;
}

.content-text__inner2 {
    background: rgba(2, 13, 2, 0.9);
    max-width: 644px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 0 30px;
    width: 96%;
    margin: 4% 2% 0 2%;
    padding-bottom: 20px;
}

.content-text__inner2 img {
    padding-bottom: 20px;
}

.content-text__inner2 .group-icon {
    position: relative;
    max-width: 683px;
    width: 100%;
    margin: 0 auto;
}

.content-text__inner2 .group-icon .icon-1 {
    background: url(../images/header__TNEY.png) no-repeat top left;
    width: 100%;
    height: 84px;
    position: absolute;
    top: -22px;
    left: -23px;
    z-index: 10;
}

.content-text__inner2 .group-icon .icon-2 {
    background: url(../images/header__teastcool.png) no-repeat top right;
    width: 100%;
    height: 159px;
    position: absolute;
    top: 40px;
    right: -50px;
}

.content-text__inner2 .group-icon .icon-3 {
    background: url(../images/header__get.png) no-repeat top left;
    width: 100%;
    height: 114px;
    position: absolute;
    left: -39px;
    z-index: 10;
    top: -27px;
}

.content-text__inner2 .group-icon .icon-4 {
    background: url(../images/content-icon3.png) no-repeat top right;
    width: 100%;
    height: 215px;
    position: absolute;
    bottom: -100px;
    right: -27px;
}

.content-text__inner2 .group-icon .icon-5 {
    background: url(../images/header__line.png) no-repeat bottom right;
    width: 100%;
    height: 133px;
    position: absolute;
    right: 10px;
    bottom: -53px;
}

.content-text__inner2--bg {
    max-width: 683px;
    margin: 40px auto;
    background: rgba(186, 186, 187, 0.69);
    position: relative;
    z-index: 999;
    padding-bottom: 30px;
    width: 96%;
    margin: 5% 2% 0;
}

.content-text__inner2 p {
    font-size: 13px;
    padding: 0 25px;
    line-height: 1.6;
    __padding-bottom: 30px;
    color: #3c3c3c;
    font-weight: bold;
}

.content-text__inner2 p.edit-top {
    padding-top: 30px;
}

.content-text__inner2 p.copy-right {
    color: #ffffff;
    max-width: 684px;
    font-weight: normal;
    margin: 0 auto;
    font-size: 10px;
    padding: 0;
    width: 96%;
    margin: 10px 2% 0 2%;
    padding-bottom: 0;
}

.content-text__inner2 .blue {
    color: #3f17a1;
    font-size: 20px;
    font-weight: bold;
}

.content-text__inner2 .blue span {
    font-weight: bold;
    font-size: 45px;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-family: Bodoni MT;
}

@media screen and (max-width: 420px) {
    .content-item li p {
        font-size: 13px;
    }
}