@charset "utf-8";
/**
 * Button
 */
/* [B001]
-----------------------------------------------*/
.btn{
  &__login--sp {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 70px;
    background: linear-gradient(to top, #ff6910, #ff6910 50%, #ff8f24 50%, #ff8f24 );
    box-shadow: 0px 1px 1px 1px #aaaaaa;
    display: none;
    color: $white-base;
    font-weight: bold;
    @media (max-width:$media-tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }
  &__sub, &__add{
    display: none;
    position: absolute;
    right: 3.25%;
    top: 10px;
    cursor: pointer;
    @media (max-width:$media-sp) {
      top:2px;
    }
  }
  &__sub.active, &__add.active{
    display: block;
  }
  &__gradient{
    background: url(../images/bg_linear_gradient.jpg) repeat-x center center;
    border-radius: 4px;
    border-left: 1px solid #fef96a;
    border-right: 1px solid #fef96a;
    border-bottom: 1px solid #fef96a;
    box-shadow: 1px 1px 1px #131313;
    margin: 0 auto;

    a{
      
      font-weight: bold;
      color: $body-color;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        content: "";
        background: url(../images/icn_black_arrow.png) no-repeat center;
        display: block;
        width: 10px;
        height: 12px;
        margin-right: 20px;
      }
    }
  }
  &__accept1{
    width: 40.8%;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 25px;
    @media (max-width:$media-tablet) {
      font-size: 16px;
      width: 88%;
    }
    @media (max-width:$media-sp) {
      font-size: 14px;
      width: 100%;
    }
  }
  &__accept{
    width: 43%;
    font-size: 32px;
    a{
      position: relative;
      &:before{
        width: 17px;
        height: 17px;
        background: url(../images/icn_arrow_large.png) no-repeat center;
        display: block;
        position: absolute;
        left: 5.8%;
        @media all and (-ms-high-contrast:none)
        {
          height:100%;
        }
        @media (max-width:$media-tablet) {
          position: static;
        }
      }
    }
    @media (max-width:1000px) {
      font-size: 28px;
      
    }
    @media (max-width:$media-tablet) {
      font-size: 20px;
      width: 88%;
    }
    @media (max-width:$media-sp) {
      font-size: 16px;
    }
    a{
      padding: 8px 10px;
    }
  }
}
