@charset "utf-8";
/**
 * Button
 */
/* [B001]
-----------------------------------------------*/
.border__content{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 40px;
  border: 11px solid transparent;
  border-image: url(../images/br_img.png) 18 round;
  box-sizing: border-box;
  position: relative;
  @media (max-width:$media-sp) {
    margin: 0 auto 20px;
  }
}
.border__top{
  border-top:1px solid #f9e88f;
  margin: 0 10px 1px;
}
.content{
  border: 10px solid transparent;
  width: 100%;
  margin: 0 auto;
  border-image: url(../images/bg_inner.png) 10 round;
  box-sizing: border-box;
  background: $white-base;
  padding: 15px 30px 35px;
  @media (max-width:$media-tablet) {
    padding: 15px 10px 10px;
  }
  @media (max-width:$media-sp) {
    padding: 10px 5px 10px;
  }
  &__info{
    background: url(../images/bg_content.jpg);
    padding: 30px 19px 19px;
    
  }
  &__inner{
    
  }
  &__step{
    border: 3px solid $brown-light;
    &--title{
      border-bottom: 1px solid $brown-light;
      background: $bg-yellow-title;
      padding: 7px 27px;
      @media (max-width:$media-sp) {
        padding: 5px 10px ;
      }
    }
    &--info{
      background: $white-base;
      padding: 16px 27px;
      @media (max-width:$media-sp) {
        padding: 10px ;
      }
    }
    &--font{
      font-size: 14px;
    }
    &--text{
      margin-bottom: 10px;
    }
  }
  &__two{
    &--colum{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width:$media-tablet) {
        flex-wrap: wrap;
      }
      figure{
        width: calc(51%);
        margin-left: 25px;
        margin-top: 5px;
        @media (max-width:$media-tablet) {
          margin-left: 0;
          width: 100%;
          order:-1;
          margin-bottom: 10px;
          img{
            margin: 0 auto;
            display: block;
          }
        }
      }
      .col--right{
        width: 50%;
        @media (max-width:$media-tablet) {
          width: 100%;
        }
      }
    }
  }
}
.icn__down{
  img{
    margin: 15px auto;
    display: block;
    @media (max-width:$media-tablet) {
      margin: 10px auto;
    }
  }
}