@charset "utf-8";
/**
 * Button
 */
/* [B001]
-----------------------------------------------*/
.list{
 display: flex;
 align-items: center;
 justify-content: space-between;
 @media (max-width:$media-tablet) {
   flex-wrap: wrap;
   justify-content: center;
 }
 &__company{
   li{
     margin-right: 10px;
     width: calc(100% - 10px);
     @media (max-width:$media-tablet) {
       width: calc(49% - 10px);
       &:nth-child(2){
        margin-right: 0;
      }
      &:nth-child(1),&:nth-child(3){
        a{
          display: flex;
          justify-content: flex-end;
        }
      }
      &:nth-child(2),&:nth-child(4){
        a{
          display: flex;
          justify-content: flex-start;
        }
      }
      a{
        margin-bottom: 10px;
      }
     }
     &:last-child{
       margin-right: 0;
     }
     img{
       max-width: 100%;
       width: auto;
       @media (max-width:$media-tablet) {
         display: block;
         margin: 0 auto;
       }
     }
   }
 }
}
.nav_item--sp{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  li{
    width: 48.92561983471074%;
    background: url('../images/bg_liner_item.jpg') repeat-x center center;
    border-radius: 4px;
    border-left: 1px solid #fef96a;
    border-right: 1px solid #fef96a;
    border-bottom: 1px solid #fef96a;
    box-shadow: 1px 1px 1px #131313;
    &:nth-child(3), &:nth-child(4){
      margin: 12px 0 40px;
      @media (max-width:$media-sp) {
        margin: 12px 0 20px;
      }
    }
    &.active{
      background: #d6b32d;
    }
    a{
      text-align: center;
      display: block;
      font-size: 24px;
      text-decoration: none;
      height: 70px;
      font-family: YuGothic,sans-serif;
      color: #000000;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      line-height: 1.3;
      position: relative;
      &:before{
        content: " ";
        background: url('../images/icn_arrow_large.png') no-repeat left center;
        display: block;
        height: 40px;
        width: 17px;
        text-align: right;
        position: absolute;
        left: 5%;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
          height: 100%; 
        }
        @media (max-width:$media-sp) {
          background: url('../images/icon_menu.png') no-repeat left center;
          width: 10px;
        
        }
      }
      @media (max-width:$media-tablet) {
        font-size: 16px;
        height:47px;
      }
      @media (max-width:$media-sp) {
        font-size: 12px;
        height: 35px;
      }
    }
  }
}

.nav_item--sp li:nth-child(1) a:before{
  padding-right: 11.78451178451178%;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    height: 25px;
    @media (max-width:$media-sp) {
      height: 20px;
    }
  }
}
.nav_item--sp li:nth-child(2) a:before{
  padding-right: 13.46801346801347%;
}
.nav_item--sp li:nth-child(3) a:before{
  padding-right: 1.35%;
}
.nav_item--sp li:nth-child(4) a:before{
  padding-right: 10.10%;
}

.progress{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  @media (max-width:$media-tablet) {
   flex-wrap: wrap;
   margin-top: 0;
   }
   &--sp{
     display: none !important;
     @media (max-width:$media-tablet) {
       display: flex !important;
     }
   }
  &__items{
    margin-right: 65px;
    max-width: 255px;
    width: 100%;
    height:124px;
    color: $white-base;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    @media (max-width:$media-tablet) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      position: relative;
      padding-bottom: 22%;
      font-size: 15px;
     }
     @media (max-width:$media-sp) {
      font-size: 12px;
     }
    &:last-child{
      margin-right: 45px;
      p{
        margin-left: 35px;
      }
      @media (max-width:$media-tablet) {
        margin-right: 0;
        p{
          margin-left: 0;
        }
       }
      
    }
    &:first-child{
      margin-left: 24px;
      p{
        margin-left: 15px;
      }
      @media (max-width:$media-tablet) {
        margin-left: 0;
        p{
          margin-left: 0;
        }
       }
    }
    &--text{
      position: absolute;
      top:10px;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        left:0;
        right:0;  
      }
    }
    p{
      text-align: center;
    }
  }
  &__title{
    font-size: 19px;
    font-weight: bold;
    @media (max-width:$media-tablet) {
      font-size: 18px;
    }
     @media (max-width:640px) {
      font-size: 14px;
     }
  }
}
