@charset "utf-8";

.title{
  font-weight: bold;
  font-size: 18px;
  @media (max-width: $media-tablet) {
    font-size: 16px;
  }
  @media (max-width: $media-sp) {
    font-size: 12px;
  }
  &__top{
    font-size: 36px;
    font-family: "游明朝","YuMincho","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝",serif;
    color: $white-base;
    margin-top: 110px;
    background: url(../images/bg_content.jpg) repeat;
    padding: 0 25px;
    line-height: 2;
    @media (max-width:$media-tablet) {
      margin-top: 0;
      padding: 0 20px;
      font-size: 27px;
    }
    @media (max-width:$media-sp) {
      font-size: 20px;
    }
  }
  &__content,&__content1{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 2.1;
    background: linear-gradient(to right,#a2712e,#d6b32d,#a2712e);
    box-shadow: 2px -2px 3px 0px #cccccc, -2px 0px 2px 0px #cccccc;
    margin-top: 22px;
    position: relative;
    text-shadow: 1px -1px #7b7b7b8a;
    @media (max-width:$media-tablet) {
      font-size: 17px;
    }
    @media (max-width:$media-sp) {
      font-size: 13px;
      p{
        padding: 2px 0;
      }
    }
  }
}
