@media screen  and (max-width: 1200px){
	.inner{
		width: 94%;
	}
	.hide-1200{
		display: none;
	}
	.show-1200{
		display: block;
	}
}
@media screen  and (max-width: 1100px){
	.menu li:nth-child(2) a, 
	.menu li:nth-child(3) a, 
	.menu li:nth-child(4) a, 
	.menu li:nth-child(5) a{
		padding-left: 20px;
		font-size: 14px;
		padding-right: 0;
	}
	.menu li a{
		padding-right: 20px;
		font-size: 14px;
	}
	.tittle-name{
		font-size: 14px;
	}
}
@media screen  and (max-width: 980px) and (min-width: 769px){
	.img-sauce{
		display: none;
	}
}
@media screen  and (max-width: 840px) and (min-width: 769px){
	.logo-menu img{
		width: 75%;
	}
	.menu li:nth-child(2) a,
	.menu li:nth-child(3) a, 
	.menu li:nth-child(4) a, 
	.menu li:nth-child(5) a{
		font-size: 11px !important;
		padding-left: 10px !important;
	} 
}

@media screen  and (max-width: 1200px) and (min-width: 769px){
	.footer{
		height: 100px;
	}
    .text-3-1{
        font-size: 28px;
    }
    .text-3-2 span{
        font-size: 28px;
    }
    .text-3-1 span{
    	font-size: 32px;
    }
    .img-sauce{
    	right: -20%;
    	bottom: -70px;
    }
    .content-4__text--animate{
    	top: 110px;
    	left: 42%;
    }
    .content-4__info{
    	left: 47%;
    	/* max-width: 530px; */
    	width: 44%;
    }
 /*    .content-5__info {
    	width: 280px;
    } */
    .img-ab-content-5{
    	left: -27.5%;
    	width: 50%;
    }
    /* .content-5{
    	background: url('../images/bg-con-5.jpg') no-repeat top center;
    	__background-size: 100%
    } */
    .pc-1200{
    	display: block;
    }


    .img-ct-5-1 img,
    .img-ct-5-2 img,
    .img-ct-5-3 img,
    .img-ct-5-4 img{
    	width: 60%;
    }
    .img-ct-5-1,
    .img-ct-5-2,
    .img-ct-5-3,
    .img-ct-5-4{
    	top: 15%;
    }
    .img-ct-5-1{
    	left: 5%;
    }
    .img-ct-5-2{
    	left: 30%;
    }
    .img-ct-5-3{
    	left: 50%;
    }
    .img-ct-5-4{
    	left: 70%;
    }
    .text-2{
    	font-size: 35px;
    	top: 75px;
   	    left: 110px;
    }
    .text-1{
    	font-size: 60px;
    	left: 10px;
    }
    .img-con1{
    	width: 60%;
    }
    .text-2 span{
    	font-size: 11px;
    }
    .img-content-4{
    	width: 45%;
    	right: -22.5%;
    }
    .img-ab-content-5{
    	bottom: unset;
    	top: 60%;
    }
    .content-5__info{
    	width: 28%;
	    top: 46%;
	    right: 3%;
    }
    .content-5__info p{
    	font-size: 12px;
    	margin-bottom: 15px;
    }
}
/* @media screen  and (max-width: 1200px) and (min-width: 980px){
	 .img-ab-content-5{
    	left: -27.5%;
    	width: 50%;
    }
    
    .pc-1200{
    	display: block;
    }


    .img-ct-5-1 img,
    .img-ct-5-2 img,
    .img-ct-5-3 img,
    .img-ct-5-4 img{
    	width: 60%;
    }
    .img-ct-5-1,
    .img-ct-5-2,
    .img-ct-5-3,
    .img-ct-5-4{
    	top: 80px;
    }
    .img-ct-5-1{
    	left: 5%;
    }
    .img-ct-5-2{
    	left: 30%;
    }
    .img-ct-5-3{
    	left: 50%;
    }
    .img-ct-5-4{
    	left: 70%;
    }
    .text-2{
    	font-size: 35px;
    	top: 75px;
   	    left: 110px;
    }
    .text-1{
    	font-size: 60px;
    	left: 10px;
    }
    .img-con1{
    	width: 60%;
    }
    .text-2 span{
    	font-size: 11px;
    }
    .img-content-4{
    	width: 45%;
    	right: -22.5%;
    }
    .img-ab-content-5{
    	bottom: unset;
    	top: 60%;
    }
} */
@media screen  and (max-width: 920px){
	.menu li:nth-child(2) a, 
	.menu li:nth-child(3) a, 
	.menu li:nth-child(4) a, 
	.menu li:nth-child(5) a{
		padding-left: 15px;
		font-size: 12px;
	}
	.menu li a{
		padding-right: 15px;
		font-size: 12px;
	}
	.tittle-name{
		font-size: 12px;
	}
}
@media screen  and (max-width: 768px) and (min-width: 481px){
	.sp-hide{
		display: none !important;
	}
	.pc-hide{
		display: block !important;
	}
	.content-1{
		background: url('../images/bg-content-1-sp.jpg') no-repeat top center ;
		/* min-height: 1060px; */
		height: 100%;
		background-size: 100% 100%;
		padding-bottom: 50px;
	}
	.content-1__info{
		position: relative;
		margin: 0 auto;
		padding-top: 31.13%;
		width: 100%;
		max-width: 406px;
		left: unset;
	}
	.content-1__tittle{
		font-size: 45px;
		display: block;
	}
	.content-1__tittle:after{
		content: "とんかつ";
		font-family: AkashiStd,sans-serif;
		text-align: right;
		font-size: 12px;
		display: block;
		margin-top: 6px;
	}
	.content-1__info li:nth-child(3),
	.content-1__info li:nth-child(4),
	.content-1__info li:nth-child(5),
	.content-1__info li:nth-child(6){
		font-family: Arial,sans-serif;
		font-size: 17px;
		font-weight: bold;
	}
	.content-2__text--animate{
		position: relative;
		top: unset;
		margin: 0 auto;
		padding-top: 50px;
	}
	.text-1-sp{
	    font-family: Roboto,sans-serif;
	    font-size: 33px;
	    color: #ffffff;
	    transform: unset;
	    text-align: center;
	}
	.text-1-sp span{
		font-size: 33px;
	    color: #333333;
	}
	.text-2-sp{
	    font-family: Roboto,sans-serif;
	    font-size: 15px;
	    color: #333333;
	    text-align: center;
	}
	.content-2{
		background: #ffba00;
		height: auto;
	}
	.inner{
		width: 88%;
	}
	.list-item{
		padding-top: 30px;
		flex-wrap: wrap;
	}
	.list-item li{
		width: 100%;
		margin-bottom: 50px;
	}
	.list-item p{
		font-size: 17px;
	}
	.list-item li a{
		margin: 0 auto;
	}
	.edit-pd{
		padding: 0;
	}
	.content-3__text--animate{
		position: relative;
		top: unset;
		padding-top: 50px;
		height: auto;
		left: unset;
	}
	.content-3__text--relative{
		text-align: center;
	}
	.content-3{
		background: url('../images/bg-content-3-sp.jpg') top center;
		height: auto;
	}
	.text-3-1-sp{
		font-family: Roboto,sans-serif;
		color: #333333;
		font-size: 33px;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.text-3-1-sp span{
		color: #ffba00;
		font-weight: bold;
	}
	.text-3-2-sp{
		color: #666666;
		font-size: 15px;
	}
	.pt-118{
		padding-top: 20px !important;
	}
	.pl-60{
		padding-left: 0;
	}
	.content-4{
		background: #ffba00;
		height: auto;
		margin-top: 0;
		background-size: 100%;
	}
	.content-4__info{
		position: relative;
		width: 100%;
		margin: 0 auto;
		top: unset;
		left: unset;
		bottom: unset;
		padding-bottom: 50px;
		position: relative;
	}
	.content-4__tittle{
		margin-top: 25px;
		margin-bottom: 18px;
	}
	.content-4__tittle p span{
		font-size: 25px;
	}
	.content-4__tittle p{
		font-size: 14px;
	}
	.content-4__info p{
		font-size: 16px;
	}
	.mr-0{
		margin: 5px 0 0 0 !important;
	}
	.fr-detail{
		float: right;
	}
	.content-4__info:after{
		content: " ";
		float: none;
		clear: both;
		display: block;
	}
	.img-ab-content-5{
		display: none;
	}
	.content-5{
		background: url('../images/bg-content-5.1.jpg')  top center;
    	height: auto;
    	background-size: 100%;
    	overflow: hidden;
	}
	.img-ct-5-1,
	.img-ct-5-2,
	.img-ct-5-3,
	.img-ct-5-4{
		position: relative;
		bottom:  unset !important;
		left: unset;
		display: block;
	}
	.img-ct-5-2{
	    left: unset;
	}
	.img-ct-5-3{
	    left: unset;
	}
	.img-ct-5-4{
	    left: unset;
	}
	.list-img{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.list-img li{
		width: 35%;
	}
	.list-img li:nth-child(1),
	.list-img li:nth-child(3){
		padding-right: 5%;
	}
	.list-img li a img{
		width: 100%;
	}
	.img-ct-5-1 img{
		max-width: 240px;
		width: 100%;
		height: auto;
	}
	.img-ct-5-2 img{
		max-width: 210px;
		width: 100%;
		height: auto;
	}
	.img-ct-5-3 img{
		max-width: 207px;
		width: 100%;
		height: auto;
	}
	.img-ct-5-4 img{
		max-width: 202px;
		width: 100%;
		height: auto;
	}
	.content-5__tittle{
		font-family: Arial,sans-serif;
		font-size: 15px;
		color: #333333;
		text-align: center;
		padding-top: 50px;
		margin-bottom: 20px;
	}
	.content-5__tittle span{
		font-size: 33px;
		font-weight: bold;
		display: block;
	}
	.content-5__info{
	    position: relative;
	    top: unset;
	    background: #ffffff;
	    width: 100%;
	    background: url('../images/ba-cot.png') no-repeat top center;
	    background-size: 100% 100%;
	    padding-bottom: 15%;
	    margin-top: 10px;
	    right: unset;
	}
	.content-5__info p {
	    font-family: Arial,sans-serif;
	    font-size: 19px;
	    color: #333333;
	    margin-bottom: 30px;
	    padding: 20% 10% 0 !important;
	}
/* 	.content-5__info:before{
		content: " ";
		width: 100%;
		background: url('../images/ba-cot_01_01.png') no-repeat;
		height: 136px;
		display: block;
		background-size: contain,cover;
	}
	.content-5__info:after{
		content: " ";
		width: 100%;
		background: url('../images/ba-cot_01_03.png') no-repeat;
		background-size: cover;
		height: 68px;
	} */
	.pl-65{
    	padding-left: unset;
	}
	.footer{
		height: 76px;
	}
	.people-name{
		font-family: Arial,sans-serif;
		position: absolute;
		font-size: 14px;
		color: #ffffff;
		text-align: right;
		right: 0;
		top: -132px;
		letter-spacing: 1px;
	}
	.people-name span{
		font-size: 33px;
		font-weight: bold;
		display: block;
	}
	.btn__detail--gray,.btn__detail--white{
		width: 133px;
		line-height: 2.4;
		font-size: 14px;
	}
	.copy-right{
		font-size: 13px;
	}
	.show-1200{
		display: none;
	}
	.hide-1200{
		display: block;
	}

}
@media screen  and (max-width: 480px) and (min-width: 320px){
	.hide-1200{
		display: block;
	}
	.show-1200{
		display: none;
	}
	.sp-hide{
		display: none !important;
	}
	.pc-hide{
		display: block !important;
	}
	.inner{
		width: 88%;
	}
	.content-1{
		background: url('../images/bg-content-1-sp.jpg') no-repeat top center ;
		/* min-height: 1060px; */
		height: 100%;
		background-size: 100% 100%;
		padding-bottom: 50px;
	}
	.content-1__info{
		position: relative;
		margin: 0 auto;
		padding-top: 31.13%;
		width: 100%;
		max-width: 406px;
		left: unset;
	}
	.content-1__tittle{
		font-size: 34px;
		display: block;
	}
	.content-1__tittle:after{
		content: "とんかつ";
		font-family: AkashiStd,sans-serif;
		text-align: right;
		font-size: 8px;
		display: block;
		margin-top: 6px;
	}
	.content-1__info li:nth-child(3),
	.content-1__info li:nth-child(4),
	.content-1__info li:nth-child(5),
	.content-1__info li:nth-child(6){
		font-family: Arial,sans-serif;
		font-size: 13px;
		font-weight: bold;
	}
	.content-2__text--animate{
		position: relative;
		top: unset;
		margin: 0 auto;
		padding-top: 50px;
	}
	.text-1-sp{
	    font-family: Roboto,sans-serif;
	    font-size: 24px;
	    color: #ffffff;
	    transform: unset;
	    text-align: center;
	}
	.text-1-sp span{
		font-size: 24px;
	    color: #333333;
	}
	.text-2-sp{
	    font-family: Roboto,sans-serif;
	    font-size: 12px;
	    color: #333333;
	    text-align: center;
	}
	.content-2{
		background: #ffba00;
		height: auto;
	}
	.list-item{
		padding-top: 30px;
		display: flex;
		flex-wrap: wrap;
	}
	.list-item li{
		width: 100%;
		margin-bottom: 50px;
	}
	.list-item p{
		font-size: 13px;
	}
	.list-item li a{
		margin: 0 auto;
	}
	.edit-pd{
		padding: 0;
	}
	.content-3__text--animate{
		position: relative;
		top: unset;
		padding-top: 50px;
		height: auto;
		left: unset;
	}
	.content-3__text--relative{
		text-align: center;
	}
	.content-3{
		background: url('../images/bg-content-3-sp.jpg') top center;
		height: auto;
	}
	.text-3-1-sp{
		font-family: Roboto,sans-serif;
		color: #333333;
		font-size: 33px;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.text-3-1-sp span{
		color: #ffba00;
		font-weight: bold;
	}
	.text-3-2-sp{
		color: #666666;
		font-size: 15px;
	}
	.pt-118{
		padding-top: 20px !important;
	}
	.pl-60{
		padding-left: 0;
	}
	.content-4{
		background: #ffba00;
		height: auto;
		margin-top: 0;
		background-size: 100%;
	}
	.content-4__info{
		position: relative;
		width: 100%;
		margin: 0 auto;
		top: unset;
		left: unset;
		bottom: unset;
		padding-bottom: 50px;
		position: relative;
	}
	.content-4__tittle{
		margin-top: 25px;
		margin-bottom: 18px;
	}
	.content-4__tittle p span{
		font-size: 19px;
	}
	.content-4__tittle p{
		font-size: 8px;
	}
	.content-4__info p{
		font-size: 12px;
	}
	.mr-0{
		margin: 5px 0 0 0 !important;
	}
	.fr-detail{
		float: right;
	}
	.content-4__info:after{
		content: " ";
		float: none;
		clear: both;
		display: block;
	}
	.img-ab-content-5{
		display: none;
	}
	.content-5{
		background: url('../images/bg-content-5.1.jpg')  top center;
    	height: auto;
    	background-size: 100%;
    	overflow: hidden;
	}
	.img-ct-5-1,
	.img-ct-5-2,
	.img-ct-5-3,
	.img-ct-5-4{
		position: relative;
		bottom:  unset !important;
		left: unset;
		display: block;
	}
	.img-ct-5-2{
	    left: unset;
	    margin-bottom: 10px;
	}
	.img-ct-5-3{
	    left: unset;
	    margin-bottom: 10px;
	}
	.img-ct-5-4{
	    left: unset;
	    margin-bottom: 10px;
	}
	.list-img{
		display: flex;
		flex-wrap: wrap;
	}
	.list-img li{
		width: 100%;
	}
	.list-img li a img{
		width: 100%;
		margin: 0 auto;
	}
	.img-ct-5-1 img{
		max-width: 240px;
		width: 100%;
		height: auto;
	}
	.img-ct-5-2 img{
		max-width: 210px;
		width: 100%;
		height: auto;
	}
	.img-ct-5-3 img{
		max-width: 207px;
		width: 100%;
		height: auto;
	}
	.img-ct-5-4 img{
		max-width: 202px;
		width: 100%;
		height: auto;
	}
	.content-5__tittle{
		font-family: Arial,sans-serif;
		font-size: 11px;
		color: #333333;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 20px;
	}
	.content-5__tittle span{
		font-size: 25px;
		font-weight: bold;
		display: block;
	}
	.content-5__info{
	    position: relative;
	    top: unset;
	    background: #ffffff;
	    width: 100%;
	    background: url('../images/ba-cot.png') no-repeat top center;
	    background-size: 100% 100%;
	    padding-bottom: 20%;
	    right: unset;
	}
	.content-5__info p {
	    font-family: Arial,sans-serif;
	    font-size: 14px;
	    color: #333333;
	    margin-bottom: 30px;
	    padding: 20% 10% 0 !important;
	    margin-top: 10px;
	}
	.pl-65{
    	padding-left: unset;
	}
	.footer{
		height: 76px;
	}
	.mw-327 {
	    max-width: 327px;
	    width: 70%;
	}
	.mw-310,.mw-307{
		width: 70%;
	}
	.people-name{
		font-family: Arial,sans-serif;
		position: absolute;
		font-size: 11px;
		color: #ffffff;
		text-align: right;
		right: 0;
		top: -132px;
		letter-spacing: 1px;
	}
	.people-name span{
		font-size: 25px;
		font-weight: bold;
		display: block;
	}
	.btn__detail--gray,.btn__detail--white{
		width: 100px;
		line-height: 1.8;
		font-size: 11px;
	}
	.copy-right{
		font-size: 10px;
	}
}