@charset "utf-8";
.banner{
    background: url(../images/img_banner.jpg) no-repeat top;
    padding-bottom: 42.3%;
    position: relative;
    background-size: contain;
    @media (max-width:640px) {
        padding-bottom: 79.3%;
    }
}

