@charset "utf-8";
/**
 * Icons
**/

.group__items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width:480px){
    flex-wrap: wrap;
  }
  &--half{
    position: relative;
    width: calc(50% - 10px);
    @media (max-width:480px){
      width: 80%;
    }
    label{
      display: block;
    }
    margin-bottom: 26px;
    select{
      @extend %select__custom;
    }
  }
  &--full{
    position: relative;
    width: 100%;
    label{
      display: block;
    }
    margin-bottom: 26px;
    select{
      @extend %select__custom;
    }
  }  
  .text-edit{
    margin-top: 73px;
    position: absolute;
    top: 15px;
    right: -45px;
    @media (max-width:480px) {
      margin-top:40px
    }
  }

}
.group__checkbox{
  margin-bottom: 50px;
  position: relative;
  padding-top: 5px;
  &--on{
    display: none;
  }
  &--off{
    display: none;
  }
  .ip__checkbox{
    display: none;
  }
  label{
    padding-left: 48px;
  }
}
.group__checkbox--on.active,.group__checkbox--off.active{
  display: block;
  position: absolute;
  top:19px;
  left: 0;
  z-index: -1;
  @media (max-width:480px) {
    top:14px;
  }
}