@import '_variables';
.modal__back{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background: rgba(51,53,51,0.7);
    overflow-y: scroll;
}
.modal{
    max-width: 870px;
    width: 100%;
    background-color: $cl-white;
    margin: 50px auto;
    position: relative;
    @media (max-width:924px){
        max-width: calc(100% - 100px);
        padding: 0 20px;
        // width: 80%;

    }
    
    &__title{
        color: $cl-txt-red;
        font-weight: 600;
        font-size: 1.125rem;
        padding: 25px 30px;
        border-bottom: 1px solid $cl-txt-grey;
        &--date{
            font-size: 1.75rem;
        }
    }
    &__content{
        padding:25px 30px 30px;
        font-size: 0.875rem;
        line-height: 1.3;
        font-weight: 500;
        letter-spacing: -1px;
        &--title{
            color: $cl-blue;
            font-size: 1.125rem;
            margin-top: 20px;
            span{
                color: $cl-txt-red;
            }
        }
    }
}
.step{
    display: flex;
    padding: 10px 0 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    @media (max-width:800px){
        overflow-x: scroll;
        justify-content: flex-start;
    }
    &-item{
        background: $cl-blue;
        max-width: 115px;
        min-width: 115px;
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        margin-right: 47px;
        position: relative;
        @media (max-width:810px){
            margin-right: 15px;
        }
        &:last-child{
            margin-right: 0;
            &:after{
                content:"";
                width:0;
                height:0;
            }
        }
        &:after{
            content:"";
            width: 36px; 
            height: 100%; 
            display: block;
            position: absolute;
            right:-35px;
            background: url( /mdp/assets/images/arow-modal.png ) no-repeat center center;
            @media (max-width:810px) {
                right:-11px;
                width: 12px;
                background: url( /mdp/assets/images/arrow-right-sp.png ) no-repeat center center;
            }
        }
        p{
            text-align: center;
            color: $cl-white;
            font-size: 0.9375rem;
            span{
                font-size: 1.75rem;
                display: block;
                width: 100%;
            }
        }
    }
}
.avatar{
    max-width: 147px;
    max-height: 147px;
    margin-right: 20px;
    width: 100%;
    img{
        width: 100%;
        @media (max-width:480px) {
            margin: 0 auto;
        }
    }
}
.instructor{
    display: flex;
    margin-top: 20px;
    &__info{
        width: calc(100% - 147px);
        @media (max-width:480px) {
            width: 100%;
            margin-top: 15px;
        }
    }
    @media (max-width:480px) {
        flex-wrap: wrap; 
        justify-content: center;       
    }
}
.comment{
    margin-top: 25px;
}

