@import '_variables';
.slider{
    padding: 80px 0 140px;
    margin-top: 80px;
    @media (max-width:768px) {
        padding: 40px 0 70px;
    }
    &__title{
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        @media (max-width:850px) {
            padding: 0 40px;
        }
    }
    &__list{
        // display: flex !important;
        
        margin-top: 35px;
        &--item{
            // min-width: 264px;
            max-width: 264px;
            // width: 100%;
            padding: 10px;
            background:$cl-white;
            margin-right: 15px;
            border-bottom: 2px solid #0d5a8c;
            @media (max-width:850px) {
                width: 86% !important;
            }
        }
        &--inner{
            max-width: 235px;
            margin: 0 auto;
            color: $cl-txt-red;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.5;
        }
    }
}
.img-slide{
    max-height: 70px;
    min-height: 70px;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    img{
        max-width: 100%;
        max-height: 70px;
        height: 100%;
        margin: 0 auto;
    }
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right:0;
    @media (max-width:768px) {
        bottom: -20px;
    }
    li{
        margin-right: 10px;
        :last-child{
            margin-right: 0;
        }
        width: 10px;
        height:10px;
        color: transparent;
        background-color: $cl-white;
        border-radius: 50%;
    }
    &.slick-active{
        background: #0d5a8c;
    }
    button{
        display: none;
    }
}
.slick-dots > .slick-active{
    background: #0d5a8c;
}
.slick-arrow{
    color: transparent;
    position: absolute;
    width: 40px;
    height:110%;
}
.slick-prev{
    position: absolute;
    left: 0;
    top:-5%;
    z-index: 10;
    border: 0;
    background: #0d5a8c url(/assets/images/icn-left-arrow.png) no-repeat center center;
    &:hover{
        transition: opacity 1s;
        opacity: 0.5;
    }
}
.slick-next{
    position: absolute;
    right: 0;
    top:-5%;
    z-index: 10;
    border: 0;
    background: #0d5a8c url(/assets/images/icn-right-arrow.png) no-repeat center center;
    &:hover{
        transition: opacity 1s;
        opacity: 0.5;
    }
}


