@import '_variables';

@font-face {
    font-family: YuGo;
    src: url(../../fonts/yugothib.ttf);
  }
body{
//    font-family: YuGo , sans-serif;
   line-height: 1.5;
   letter-spacing: -1px;
   background: $cl-white;
   position: relative;
   font-size: 100%;
}
.show-pc{
    display: block ;
    @media (max-width:768px) {
        display: none !important;
    }
}
.show-sp{
    display: none;
    @media (max-width:768px) {
        display: block;
    }
}
//menu in header
.menu{
    padding: 15px 0;
    border-bottom: 4px solid #0075c1;
    background: $cl-white;
}
.sub-nav{
    background: #5ea9dd;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    img{
        max-width: 220px;
    }
}
.nav-mean{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 410px;
    @media (max-width:768px) {
        justify-content: space-between;
        width: 100%;
        min-width: auto;
    }
}
.banner{
    margin: 0 auto;
    background: url(/assets/images/img_main.png)no-repeat center center;
    padding-bottom: 45%;
    background-size: cover;
    @media (max-width:768px) {
        background: url(/assets/images/img_main_sp.jpg)no-repeat center center;
        background-size: cover;
        padding-bottom: 50%;
    }
}
//end menu header
.dl-flex{
    display: flex;
}
.just-between{
    justify-content: space-between;
}
.fl-start{
    justify-content: flex-start;
}
.overflow-hidden{
    overflow: hidden;
}
.fl-end{
    justify-content: flex-end;
}
.al-center{
    align-items: center;
}
.f-bold{
    font-weight: bold;
}
.cl-white{
    color: $cl-white;
}
.cl-red{
    color: $cl-txt-red;
}
.cl-blue{
    color: $cl-blue;
}
.just-center{
    justify-content: center;
}
.fl-wrap-reverse-768{
    @media (max-width:768px) {
        flex-wrap: wrap-reverse;
    }
}
.p-fix{
    position: fixed;
}
.bg-light-grey{
    background: $cl-light-grey;
}
.bg-light-blue{
    background: $cl-blue;
}

.container{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
.container-scoll-pc{
    overflow-x: scroll;
    min-width: 950px;
    max-width: 950px;
    margin: 0 auto;
}
.icon-bird{
    max-width: 39px;
    max-height: 32px;
    margin-right: 20px;
    margin-left: 10px;
    @media (max-width:540px) {
        max-width: 30px;
        // max-height: 32px;
        margin-right: 10px;
        margin-left: 0;
    }
}
.title-head{
    font-size: 1.5rem;
    @media (max-width:540px) {
        font-size: 1.125rem;
    }
}
.search{
    padding : 5px 8px;
    background-color: $cl-white;
    display: inline-flex;
    margin: 8px 0 8px 20px;
    max-width: 480px;
    width: 100%;
    &__ip{
        border: 0;
        margin: 0 15px;
        width: calc(100% - 44px);
        // font-family: YuGo , sans-serif;
        font-size: 1.125rem;
        color:#000000;
    }
    @media (max-width:768px) {
        display: none;
    }
    &--sp{
        display: none !important;
        margin: 8px 20px 8px 20px;
        width: calc(100% - 40px);
        @media (max-width:768px) {
            display: inline-flex !important;
        }
    }
}
.content-search{
    margin-top: 170px;
    width: 100%;
    background: #5ea9dd;
    display: inline-flex;
    justify-content: center;
}
.inner{
    max-width: 910px;
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width:768px) {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
}
.area-notice{
    display: flex;
    justify-content: center;
    @media (max-width:768px) {
        width: 100%;
    }
}
.text-content{
    max-width: 405px;
    width: 100%;
    @media (max-width:768px) {
        max-width: 100%;                
    }
}
.notice-text{
    position: relative;
    z-index: 1;
    color: $cl-txt-red;
    text-align: center;
    margin: 0 auto;
    @media (max-width:768px) {
        width: 100%;
        font-size: 3.5vw;
    }
    &:before{
        content:"";
        width: 100%;
        background: #faf9af;
        height: 10px;
        display: block;
        position: absolute;
        top:4px;
        left: 15px;
        max-width: 320px;
        z-index: -1;
        @media (max-width:768px) {
            max-width: 100%;
            width: 76%;
            left: 12%;
        }
    }
}
.social-area{
    padding-top: 35px;
    min-width: 374px;
    @media (max-width:768px) {
        min-width: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.icn{
    &__tw{
        margin-right: 5px;
        max-width: 35px;
        @media (max-width:768px) {
            display: block !important;
        }
    }
    &__line{
        margin-right: 5px;
        max-width: 25px;
    }
}
.standard{
    padding: 25px 20px;
    p{
        color: $cl-txt-red;
        font-size: 1.125rem;
        margin-left: 15px;
        @media (max-width:480px) {
            font-size: 1rem;
        }
        span{
            font-size: 1.625rem;
        }
    }
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $cl-white;
    margin: 20px 5px;
}
.dot.active{
    background: $cl-blue;
}
.ml-30{
    margin-left: 30px;
}
.img-title-1{
    max-width: 869px;
    width: 100%;
    padding-bottom: 10px;
    display: block;
}
.bg-medium-bule{
    background: $cl-medium-blue;    
}
.bg-green{
    background: $cl-green;
}
.cl-dark-blue{
    color: $cl-dark-blue;
}

.evaluate{
    font-size: 1.125rem;
    text-align: center;
    padding: 80px 0 38px;
    @media (max-width:768px) {
        padding: 40px 0 38px;
    }
    &__info{
        padding-top: 75px;
        @media (max-width:768px) {
            padding-top: 35px;
        }
    }
    &__notice{
        color: $cl-txt-red;
        margin-left: 65px;
        font-size: 1.125rem;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 35px;
    }
    &__list{
        margin-top: 20px;
        justify-content: space-between;
        @media (max-width:768px) {
            flex-wrap: wrap;
            justify-self: center;
        }
        &--item{
            width: 294px;
            border-right: 2px solid #e0e5e7;
            border-bottom: 2px solid #e0e5e7;
            padding-bottom: 15px;
            @media (max-width:768px) {
                width: 81.25%;
                margin: 20px auto;
            }
            p{
                text-align: center;
                
            }
            span{
                background: $cl-blue;
                width: 32px;
                height: 4px;
                margin: 15px auto;
                display: block;
            }
        }
        &--info{
            color: $cl-txt-red;
            line-height: 1.3;
            font-weight: 500;
            @media (max-width:768px) {
                font-size: 1.5rem;
            }
            @media (max-width:480px) {
                font-size: 1.25rem;
            }
        }
        &--info2{
            color: $cl-txt-red;
            line-height: 1.5;
            font-weight: 500;
            font-size: 1.125rem;
            text-align: center;
            @media (max-width:768px) {
                font-size: 1.625rem;
            }
            @media (max-width:480px) {
                font-size: 1.25rem;
            }
            span{
                display: block;
                font-size: 1.375rem;
                margin-top: 5px;
                font-weight: 600;
                text-decoration: underline;
                text-decoration-style: dotted;
            }
        }
        &--title{
            color: $cl-blue !important;
            font-size: 1.25rem;
            font-weight: 600 ;
            margin-top: 10px;
            @media (max-width:768px) {
                font-size: 2rem;
            }
            @media (max-width:480px) {
                font-size: 1.75rem;
            }
        }
    }
   
}
.mt-5{
    margin-top: 5px;
}
.img-content{
    margin-top: 80px;
    @media (max-width:768px) {
        padding-bottom: 42%;
        background:url(/assets/images/img-slide-pc.jpg) no-repeat center;
        background-size: cover;
    }
    @media (max-width:480px){
        padding-bottom: 50%;
    }
    img{
        width: 100%;
        @media (max-width:768px) {
            display: none;
        }
    }
}
.link-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    a{
        text-decoration: underline;
        color: $cl-txt-red;
        font-weight: 500;
        margin-right: 5px;
        @media (max-width:768px) {
            font-size: 1.5rem;
        }
        @media (max-width:480px) {
            font-size: 1.25rem;
        }
    }
}
.group-btn{
    margin-top: 60px;
    @media (max-width:768px) {
        flex-wrap: wrap;
        margin-top: 40px;
    }
}
.tag-number{
    // width: 40px;
    padding: 0 15px 0 11px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    font-size: 1.5625rem;
    font-style: italic;
    display: inline-flex;
    background: $cl-blue;
    margin-right: 10px;
    @media (max-width:768px) {
        height:55px;
        font-size: 2.1875rem;  
        padding: 0 21px 0 14px;     
    }
}
.tag-large{

    font-size: 2rem;
    color: $cl-blue;
    font-weight: 600;
    letter-spacing: -1px;
    .tag-number{
        height:55px;
        padding: 0px 20px 0 15px;
        font-size: 2.1825rem;
        margin-left: 0;
    }
    @media (max-width:480px) {
        font-size: 1.75rem;
    }
}
.img-evaluate-1{
    margin: 0 15%;
    // display: block;
    max-width: 660px;
    width: 100%;
    @media (max-width:768px){
        max-width: 510px;
        margin: 0 auto;
    }
}
.evaluate-title{
    font-size: 1.125rem;
    @media (max-width:768px){
        font-size: 1.25rem;
    }
}
.p-relative{
    position: relative;
}
.img-evaluate-2{
    margin: 60px auto;
    display: block;
    max-width: 660px;
    width: 100%;
}
.title-number{
    color: $cl-blue !important;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    @media (max-width:768px) {
        font-size: 3.0625rem;
    }
}
.scroll{
    overflow-x: scroll;
    @media (max-width:768px) {
        overflow-x: auto;
    }
    &__inner{
        width: 950px;
        @media (max-width:990px) {
         padding: 0 20px;
        }
        @media (max-width:768px) {
            width: calc(100% - 40px);
        }
    }
}
.inner-tag{
    @media (max-width:990px) {
            
        padding: 0 20px;
    }
}
.img-title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 28%;
    p{
        width: 100%;
        text-align: center;
        font-size: 1.75rem;
    }
    @media (max-width:768px) {
        top: 20%;
        width: 100%;
    }
    @media (max-width:480px) {
        top: 15%;
        width: 98%;
        left: 1%;
    }
}
footer{
    padding: 10px  0 !important;
    background: #000000;
    color: $cl-white;
    text-align: center;
    margin-top: 10px !important;
    width: 100%;    
}
