.banner{
    position: relative;
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: cover !important;
    overflow: hidden;
    padding-bottom: 42.2%;
    @media (max-width:980px) {
        padding-bottom:130%;
        background-size: cover;
    }
    .logo{
        position: absolute;
        top:25px;
        left: 35px;
    }
    .title_page_top{
        position: absolute;
        top:40%;
        left: 5%;
        right:0;
        font-family: Raleway, sans-serif;
        color: #ffffff;;
        font-size: 26px;
        @media (max-width:768px) {
            
        }
        @media (max-width:640px) {
            font-size: 20px
        }
        @media (max-width:480px) {
            font-size: 18px
        }
        span{
            font-size: 65px;
            line-height: 1.3;
            @media (max-width:768px) {
                font-size: 50px
            }
            @media (max-width:640px) {
                font-size: 40px
            }
            @media (max-width:480px) {
                font-size: 30px
            }
        }
        .dot{
            display: inline-block;
            margin: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ffffff;
            @media (max-width:480px) {
                width: 10px;
                height: 10px;
            }
        }
        .dot.active{
            background: #04abb2;
        }
    }
}