@charset "utf-8";
/* Header
----------------------------------------------------------------- */
.header{
  background: url(../images/bg_banner_liner.jpg) repeat-x;
}
.banner{
  max-width: 1171px;
  margin: 0 auto;
  padding-top: 36px;
  @media (max-width:$media-tablet){
    padding-top: 0;
    figure{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}
/**menu*/
.nav{
  width: 100%;
  background: url('../images/bg_linear_gradient.jpg') repeat-x;
  position: relative;
  border-top: 2px solid #fef96a;
  &__menu{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: YuGothic,sans-serif;
      font-weight: bold;
      height: 73px;
      & > li{
        width: 16.66666666666667%;
        height: 100%;
        display: flex;
        align-items: center;
        &:before{
          content: "";
          width: 2px;
          height: 100%;
          background: url('../images/br_menu.png') no-repeat center;
        }
        &:last-child::after{
          content: "";
          width: 2px;
          height: 100%;
          background: url('../images/br_menu.png') no-repeat center;
        }
        a{
          color: #000000;
          text-decoration: none;
          line-height: 1.2;
          display: block;
          text-decoration: none;
          font-size: 18px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; 
          &:before{
            content: url('../images/icn_black_arrow.png');
            padding-right: 5px;
          }
          span{
            width: 100%;
            display: block;
            text-align: center;
          }
        }
        &:hover,&.active{
          background: #352700;
          a{
            color: $white-base;
            &::before{
              content: url('../images/icn_white_arrow.png');
              padding-right: 5px;
            }
          }
          .subNav{
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
          }
        }
      }
      .subNav{
        position: absolute;
        bottom: -73px;
        background: #352700;
        display: none;
        left: 0;
        font-size: 15px;
        width: 100%;
       
        li{
         
          &:after {
            content: "";
            width: 1px ;
            height:25px ;
            background: #53492e ;
          }
          &:first-child{
            &::before{
              content: "";
              width: 1.2px !important;
              height:25px ;
              background: #53492e ;
            }
          }
          &:last-child{
            &::after{
              // background: none !important;
            }
          }
          &:before{
            content: "";
            width: 0 !important;
          }
          & > a{
            padding: 0 5px;
            color: #ffffff !important;
            font-size: 15px;
            &:before{
              content: url('../images/icn_white_arrow.png') !important;
              padding-right: 5px;
            }
          }
          &:hover,&.active{
            a{
              color:#e4ba35 !important ;
              &:before{
                content: url('../images/icn_yellow_arrow.png') !important;
              }
            }
          }
          &:first-child{
            width: 100%;
            max-width: 172px;
          }
          &:nth-child(2){
            width: 100%;
            max-width: 239px;
          }
          &:nth-child(3){
            width: 100%;
            max-width: 308px;
          }
          &:last-child{
            width: 100%;
            max-width: 276px;
            a{
              // border-right: 1px solid #53492e;
            }
          }
        }
      }
    }
  }
}
