@charset "utf-8";
.logo--sp {
  display: none;
  @media (max-width:$media-tablet) {
    position: absolute;
    top: 20px;
    left: 14px;
    width: 15%;
    display: block;
    img{
      width: auto;
    }
  }
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  opacity: 0.8;
  transition: opacity 1s;
}
.breadcrumb{
  display: flex;
  color: $white-base;
  font-size: 12px;
  font-weight: bold; 
  align-items: center;
  margin: 10px auto 18px;
  line-height: 1;
  li{
    margin-right: 12px;
  }
  a{
    text-decoration: none;
    color: $white-base;
  } 
}
.note__text{
  color: $white-base;
  text-align: center;
  margin: 16px auto;
  @media (max-width:$media-tablet) {
    margin: 20px auto 12px;
  }
}
.link:before {
  content: "";
  width: 8px;
  height:8px;
  display: block;
  background: url(../images/icn_white_arrow.png);
  background-size: cover;
  margin-right: 5px;
}
.border--sp{
  @media (max-width:$media-tablet) {
    border: 2px solid #dddddd;
    width: 88.75%;
    display: block;
    margin: 0 auto 10px;
    line-height: 1.4;
    text-align: center;
  }
    
}
.outner__container{
  background: url("../images/pic_footer.png") no-repeat bottom;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  background-size: 100%;
  @media (max-width:$media-tablet) {
    padding-bottom: 10px;
  }
}
%triangle{
  content:"";
  width: 0;
  height: 0;
  border-top: 62px solid transparent;
  border-bottom: 62px solid transparent;
  position: absolute;
  top: 0;
  right: -45px;
}
.triangle--orange{
  background: linear-gradient(to right, #f39800, #f39b00, #f18700);
  &:after{
    @extend %triangle;
    border-left: 45px solid #f18700;
  }
}
.triangle--red{
  background: linear-gradient(to right, #e15047, #e25349, #dc413a);
  &:after{
    @extend %triangle;
    border-left: 45px solid #dc413a;
  }
}
.cl--white{
  color: $white-base;
}
.notice__info{
  padding:30px 10px 0
}
.showdow-box{
  box-shadow: 0px 0 5px 0px rgba(0,0,0,0.8), 0px 0 5px -1px rgba(0,0,0,0.8);
}
.lh-edit{
  line-height: 1.75;
}
.lh-edit1{
  line-height: 1.7;
}
.lh-edit2{
  line-height: 1.65;
}
.lh-edit3{
  line-height: 1.55;
}