@charset "utf-8";
.logo--sp {
  display: none;
  @media (max-width:$media-tablet) {
    position: absolute;
    top: 20px;
    left: 14px;
    width: 15%;
    display: block;
    img{
      width: auto;
    }
  }
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  opacity: 0.8;
  transition: opacity 1s;
}
.breadcrumb{
  display: flex;
  color: $white-base;
  font-size: 12px;
  font-weight: bold; 
  align-items: center;
  margin: 10px auto 20px;
  line-height: 1;
  a{
    text-decoration: none;
    color: $white-base;
  } 
}
.note__text{
  color: $white-base;
  text-align: center;
  margin: 17px auto;
}
.link:before {
  content: "";
  width: 8px;
  height:8px;
  display: block;
  background: url(../images/icn_white_arrow.png);
  background-size: cover;
  margin-right: 5px;
}