@media screen and (max-width: 980px)  {
	.top-logo{
		position: absolute;
   		top: 0;
   		width: 99%;
   		left: 1%;

	}
	.pc-hide{
		display: block;
	}
	.off{
		display: none;
	}
	.icon-meanface{
		width: 12%;
		margin-right: 15px;
	}
	.container{
		.list-video{
			width: 90%;
			overflow: hidden;
			margin :20px auto;
			height: 126px;
			position: relative;
		}
		.content-video{
			flex-wrap: wrap-reverse; 
		}
		.video-lession{
			width: 90%;
		}
		.video-ramen{
			width: 100%;
			border: unset;
		}
		.list-video ul{
			flex-wrap:unset;
			justify-content:flex-start;
			width: 100%;
			// position: absolute;
		}
		.list-video ul li{
			margin-right: 20px;
		}
	}
	
	
	
	
	.mean-nav ul .mean-last a{
		display: flex !important;
		align-items: center;
	}
	.footer__item2{
		justify-content:space-around;
	}
	
	
}
@media screen and (max-width: 980px) and (min-width: 769px){
	
	.container{
		.list-lession li a i{
			width: 140px;
			height: 140px;
			margin: 0 auto;
		}
	}
	// .list-lession li{
	// 	width: 22.5%
	// }
}
@media screen and (max-width: 768px) and (min-width: 421px){
	
	.container{
		.list-lession{
	    	flex-wrap: wrap;
		}
		.list-lession li a i{	
			margin: 0 auto;
		}
		.list-lession li{
			width: 40%
		}
		.banner__img {
			font-size: 18px ;
		}
		.banner__img span{
			font-size: 14px;
		}
		.banner__text-intro{
			font-size: 15px;
		}
		.banner__tittle{
			font-size: 22px;
		}
		.tittle-content{
			font-size: 22px;
			margin-top: 30px;
		}
		.tittle-lession{
			margin-top: 30px;
			font-size: 22px;
		}
		.video-iframe{
			height: unset;
		}
		.chapter{
			font-size: 18px
		}
		.info-chapter{
			font-size: 15px;
		}
	}
}
	
	

@media screen and (max-width: 420px) and (min-width: 320px){
	
	.container{
		.list-lession{
	    flex-wrap: wrap;
		}
		.list-lession li a i{
		
			margin: 0 auto;
		}
		.list-lession li{
			width: 100%
		}
		.banner__status a,.banner__status span{
			font-size: 10px;
		}
		.banner__img {
			font-size: 15px ;
		}
		.banner__img span{
			font-size: 12px;
		}
		.banner__text-intro{
			font-size: 12px;
		}
		.banner__tittle{
			font-size: 20px;
		}
		.banner__info--text{
			font-size: 12px;
		}
		.tittle-content{
			font-size: 20px;
			margin-top: 30px;
		}
		.tittle-lession{
			margin-top: 30px;
			font-size: 20px;
		}
		.color-gray{
			font-size: 12px;
		}
		.video-iframe{
			height: unset;
		}
		.chapter{
			font-size: 15px
		}
		.info-chapter , .info-chapter-ja {
			font-size: 12px;
		}
		.banner__text-intro{
			margin-top: 20px;
			padding-bottom: 20px;
		}
		.list-lession{
			margin-top: 30px;
		}
		.list-lession li{
			padding-bottom: 30px;
		}
	}
}
@media screen and (max-width: 1042px)  {

	.top-logo a{
		padding-left: 10px;
	}
	.inner{
		width: 96%;
	}
	.nav__menu ul{
		width: 98%;
		margin: 0 auto;
	}
	.footer__item2 a{
		width: 22.5%;
	}
}
@media screen and (max-width: 768px){
	.top-logo a:first-child{
		width: 70%;
	}
	.top-logo a img {
		width: 100%;
	}
	.inner{
		width: 90%;
	}

	.footer__tittle--color , .footer__tittle--color1 ,.copy-right{
    	margin-top: 40px;
	}
	.footer__tittle{
		font-size: 16px;
	}
	.copy-right{
		font-size: 10px;
	}
	.footer__item a,.footer__item2 a{
		width: 23%;
		margin: 0 0 10px 0;
	}
	.footer__item,.footer__item2{
		justify-content: space-around;
	}
	.footer__item a,.footer__item2 a {
		justify-content: space-around;
	}
	.footer__tittle--color , .footer__tittle--color1 ,.copy-right{
    	margin-top: 40px;
	}
	
}
@media screen and (max-width: 1075px) and (min-width: 981px)  {
	.logo-page{
		margin-left: 5%;
	}
	.logo-page1{
   		margin-right: 5%;
	}
}
@media screen and (max-width: 640px){
	.container{
		.banner__info--text,.banner__info--img{
			width: 100%;
		}
		.banner-flex{
			flex-wrap:wrap;
		}
		.banner__info--img a {
			margin: 0 auto;
			text-align: center;
		}

		.banner__info--img a img{
			margin: 0 auto;
			text-align: center;
		}
		.banner__info--img{
			margin-top: 0;
		}
	}
	
}
@media screen and (max-width: 460px){
	.footer__item a,.footer__item2 a{
		width: 30%;
		margin: 0 0 10px 0;
	}
	.footer__item{
		justify-content: space-around;
	}
}
@media screen and (max-width: 420px){
	.footer__item a,.footer__item2 a{
		width: 48% !important;
	}
}
