@charset "utf-8";
#thanks{
  .thanks__info{
    padding-top: 45px;
    padding-bottom: 70px;
    line-height: 1.6;
    font-size: 45px;
    letter-spacing: -2px;
    span{
      display: blocks;
    }
    @media (max-width:480px) {
      font-size: 30px;
      padding-top: 15px;
      padding-bottom: 35px;
    }
  }
  p{
    margin: 0;
    text-align: center;
  }

 .container{
   margin:50px auto 110px;
 }
 footer .container{
   margin: 0 auto;
 }
 .btn__top{
   margin-top: 95px;
   @media (max-width:480px) {
     margin-top: 45px;
   }
 }
 .inner__content{
  margin: 50px auto 110px;
  @media (max-width:480px) {
    margin: 30px auto 70px;
  }
 }
}


