html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    font-family:Hiragino Kaku Gothic Pro,sans-serif;
    
}
.header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.banner1{
    width: 100%;
    position: relative;
    max-width: 1200px
}
.banner1__text{
    position: absolute;
    top: 34%;
    left: 8%;
    font-size: 34px;
    color: #ffffff;
    line-height: 1.5;
    text-shadow: -7px 8px 12px rgba(183, 172, 150, 0.65);
    font-weight: bold;
}
.banner1__tittle--interview{
    background: url('../images/icon-interview.png') no-repeat center left;
    font-family: Helvetica;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    padding-left: 40px;
    top: 3.5%;
    left: 41%;
    /* min-height: 30px; */
}

.logo{
    width: 45%;
    margin-left:8.4% ;
}
.menu__logo{
    margin: 23px 0 23px ;
    display: inline-block;
}
img{
    display: block;
}
span{
    display: inline-block;
}

/* .full__img{
    width: 100%;
} */
.banner{
    position: relative;
}
.banner__text{
    position: absolute;
    width: 50%;
    color: #ffffff;
    top: 17%;
    right: 0;
}
.banner__text ul li{
    font-size: 12px;
    line-height: 1.4  !important  ;
}
.banner__text ul li:first-child span{
    font-size: 34px;
    margin-right: 15px;
}
.banner__text ul li:first-child p{
    font-size: 14px;
}
.banner__text ul li:nth-child(2) {
    font-size: 20px;
    margin: 5% 0 3.5%;
    font-weight: bold;
}
.banner__text ul li:nth-child(3) span,
.banner__text ul li:nth-child(4) span,
.banner__text ul li:nth-child(5) span{
    padding-right: 20px;
    margin-bottom: 10px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.tittle{
    font-size: 34px;
    color: #ffc000;
    font-family:Hiragino Kaku Gothic Pro,sans-serif;
    margin-top: 79px;
}
.mg-edit{
    margin-top: 36px;
}
.inner{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.inner__content{
    width: 100%;
    margin: 28px 0 80px 0;
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1.9;
}
.inner__content--right img{
    margin-top: 9px;
}
.inner__content--left img{
    margin-top: 7px;
}
.inner__content--left{
    __float: left;
    width: 48.5%;
    line-height: 2.3;
    font-size: 14px;   
}

.inner__content--right{
    __float: right;
    width: 48.5%;
    font-size: 14px;
    line-height: 2.3;
    padding-left: 1.2%;
}
.hidden-off{
    display: none;
}
/* .inner__content:after{
    content: " ";
    float: none;
    clear: both;
    display: block;
} */
.inner__content:last-child{
    margin-bottom: 85px;
}
.title__thumb{
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
    color: #ffc000;
}
.thumb{
    display: flex;
    margin-top: 34px;
    color: #ffffff;
}
.thumb__item1 , .thumb__item2 , .thumb__item3{
    position: relative;
 }
 .thumb__item1 p , .thumb__item2 p , .thumb__item3 p{
    position: absolute;
    bottom: 10.2%;
    left: 5.5%;
    line-height: 1.6;
    font-size: 14px;
 }
 .thumb__item1 span , .thumb__item2 span , .thumb__item3 span{
    font-size: 30px;
 }
.footer{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.footer p{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 7;
    background: #282828;
}
#page-top{
    display: block;
    position: fixed;
    bottom: 4%;
    width: 25px;
    right: 8%;
    padding: 21px;
    background: url(../images/bg-to-top.png) no-repeat left top;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.to-top img{
    margin: 0 auto;
}
.pc-hide{
    display: none;
}







.nav{
    width:54%;
    height:81px;
}
.nav__menu{
    width:100%;
    margin:0 auto;
}
.nav__menu ul li{ 
     font-size: 14px;
    height: 81px;
    width: 20%;
}
.nav__menu ul li img{
    max-width:100%;
}
.nav__menu ul{
     display: flex;
    /* float: right; */
    align-items:  center;
    __width: 66.5%;
    /* width: 600px; */
    justify-content: flex-end;
}
.nav__menu ul li:last-child a{
    border-right: none;
}

.nav__menu:after{
    content: " ";
    clear: both;
    float: none;
    display: block;
}
.full__img {
    width: 100%;
}
.nav__menu ul li a{
  border-right: 1px solid #d5d5d5;
    margin-top: 33px;
    display: block;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}
.nav__menu ul li:active{
    background: #f85050;
}
.nav__menu ul li a:active{
    color: #ffcc53;
}
.nav__menu ul li a:hover{
     color: #ffcc53;
}
.nav__menu ul li:last-child a{
    color: #ffffff;
}
.nav__menu ul li:last-child a:hover{
    color: #ffcc53;
}
.nav__menu__menu5 {
    background: #f85050;
}
.nav__menu ul li:last-child{
    width: 17%;
}
.top-menu{
    display: flex;
    justify-content: space-between;
}

/**page company*/
.banner1__tittle--text{
    text-align: center;
    font-size: 34px;
    position: absolute;
    color: #ffffff;
    top: 28%;
    left: 26%;
}
.banner1__tittle--company{
    background: url('../images/icon-company.png') no-repeat center left;
    font-family: Helvetica;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    padding-left: 40px;
    top: 5.8%;
    left: 42%;
    line-height: 1.5;
}
.banner1__tittle--text{
    width: 51%;
}
.banner1__tittle--text span{
    font-size: 20px;
    padding-top: 25px;
}
.banner1__info{
    width: 83.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    left: 8.3%;
    bottom: -1%;
}
.banner1__info--left,.banner1__info--right{
    width: 48.5%;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background: rgba(65, 66, 67, 0.8);
    color: #ffffff;
    padding-top: 2%;
}
.info__tittle{
    color: #7fdc22;
    font-weight: bold;
    margin: 2% 0 5%;
    font-size: 20px
}
.banner1__info--left ul{
    margin-bottom: 10%;
}
.banner1__info--left ul li{
    width: 90%;
    margin: 0 auto;
}
.active:hover{
    color: #7fdc22 !important;
}
.banner1__info--right img{
    display: inline-block;
    padding: 0 10px 5px 0;
}
.banner1__info--right b{
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-bottom: 6%;
}
.line1{
    padding-left: 10px !important;
}
.line2{
   padding-left:16px !important;
}
.line3{
    padding-left:25px !important;
}
.title-content{
    font-size:  34px;
    margin: 80px auto 20px;
    text-align: center;
}
.border-line{
    width: 20px;
    display: block;
    margin: 0 auto 25px;
    border-top: 2px solid #78d020;
    height: 1px;
}
.edit-width{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: #f4f4f7;
}
.inner-right-width{
    width: 48.75%;
}
.inner__content--text{
    width: 83%;
    float: right;
    font-size: 14px;
    margin: 15% auto;
    line-height: 1.6;

}
.inner__content--text:after{
    content: " ";
    clear: both;
    float: none;
}
.inner__content--tittle{
    font-size: 24px;
    margin-bottom: 7%;
}
.signature{
    text-align: right;
    line-height: 0.1;
}
.signature span{
    font-size: 36px;
    margin-top: 7%;
}
.banner{
    width: 100%;
    position: relative;
}
.banner__back{
    width: 50%;
    height: 80%;
    position: absolute;
    background: rgba(116, 116, 116, 0.35);
    top: 8.5%;
    left: 24.6%;
}
.banner__info{
     width: 50%;
    height: 80%;
    position: absolute;
    background: rgba(66, 64, 62, 0.8);
    top: 12%;
    left: 26.25%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6;
}
.banner__info span{
    font-size: 26px;
    margin: 5% 0;
}
.paragraph{
    margin: 4% 0;
}

/*edit page*/
.bn-img{
    max-width: 1200px;
    width: 100%;
}
.mb-42{
    margin-bottom: 42px !important;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-29{
    margin-bottom: 29px;
}



