html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container{
    min-width:500pxpx;
    width: 500px;
    margin: 20px auto; 

}
img{
    display: block;
    cursor: pointer;
    pointer-events: auto;
}
.menu{
    min-width: 500px;
    width: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 700px;
}
.menu ul{
    width: 269px;
    margin: 0 auto;
}
.menu ul li{
    width: 100%;
}
li p{
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
    __display: none;
    padding: 0 20px;
    word-wrap: break-word;
    height: 0;
    overflow: hidden;
}

li p span{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
.bt-about{
    display: block;
        margin: 10px auto 10px
}
.pop-up1 ,.pop-up2{
    position: absolute;
    width: 500px;
    top: -380px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}
p{
    padding: 10px 20px;
}
.pop-up_box{
    display: block;
    margin: 10px auto;
}
.btn-close{
    position: absolute;
    top: 0;
    right: 0;
}