@charset "utf-8";
/* footer
----------------------------------------------------------------- */
.footer{
  &__content{
    font-size: 10px;
    padding: 10px ;
    color: $white-base;
    letter-spacing: 1px;
    background: $red-darken-1 url(../images/bg_line.png) repeat-x top;
    text-align: center;
    position: relative;
    @media (max-width: $media-sp) {
      line-height: 1.5;
    }
  }
}
