@charset "utf-8";
/* footer
----------------------------------------------------------------- */
footer{
  background: #990019;
}
.footer{

  &__list{
    border-bottom: 1px solid #7a0014;
    box-shadow: 0px 0 10px rgba(0,0,0,0.8);
  }
  &__content{
    font-size: 10px;
    padding: 10px ;
    color: $white-base;
    border-top: 2px solid #af384c;
    border-bottom: 2px solid #6b0011;
    text-align: center;
    @media (max-width: $media-sp) {
      line-height: 1.5;
    }
  }
}
