@charset "utf-8";
.bg-base{
  background: $base-color;
}
.cl-red-darkest{
  color: $red-darkest;
}
.cl-pink-dark{
  color: $pink-dark;
}
.border-list-bottom{
  border-bottom: 1px solid $border-color;
}
.language{
  color: $white-base;
  display: flex;
  position: absolute;
  right:0;
  top:8px;
  font-size: 10px;
  @media (max-width: $media-tablet) {
    position: relative;
    right: unset;
    top: unset;
  }
  li{
    border-right: 1px solid $white-base;
    cursor: pointer;
    &:last-child{
      border-right: 0;
      a{
        border-right: 0;
      }
      
    }
    &:hover{
      opacity: 0.8;
    }
    a{
      padding: 0 5px;
      color: $white-base;
      text-decoration: none;
      display: flex;
      align-items: center;     
      @media (max-width: $media-tablet) {
        text-decoration: underline;
      }
    }
  }
}
.date-time{
  background: #7a000d;
  padding: 2px 15px 2px 20px;
  border-radius: 3px;
  margin-top: 2px;
  border-bottom: 1px solid #ae515e;
  border-top: 1px solid #5c0814;
  min-width: 105px;
  text-align: center;
  @media (max-width: $media-tablet) {
    background: none;
    color: $white-base;
    border: none;
    padding: 0;
    min-width: auto;
  }
}
a:hover{
  opacity: 0.8;
  transition: opacity 1s;
}