/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#292728;
	width:980px;
	margin:0 auto;
	font-size:10px;
}
.clear{
	float:none;
	clear:both;
}
.container{
	width:980px;
	height:auto;
	margin:0 auto;
	padding-top:2px;
}
.inner{
	width:90%;
	margin:0 auto;
}
.col-1{
	padding-top: 1px;
	display: flex;
	width:70%;
	background:#ffffff;
}
.col-1-title p{
	width: 50%;
	margin-top: 1px;
	background:url(../img/h2-confidential-heading-bg.gif) repeat-x;
	height: 25px;
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	padding-left: 17px;
	border-right: 1px solid rgba(255, 99, 71, 0);
	border-bottom: 1px dashed #000000;
}
.col-1-title p:first-child{
	border-right: 1px solid #000000;
}
.col-1-content{
	width:50%;
	border-right: 1px solid rgba(255, 99, 71, 0);
	margin-bottom:20px;
}
.col-1 .col-1-content:first-child{
	border-right:1px dotted #000000;
}
.col-1-content img{
	margin:5px auto 0 auto;
	display:block;
}
.col-1-content a.more{
	display:block;
	width:100%;
	height:22px;
	text-decoration:none;
	background:url(../img/h3-confidential-showbuzz-bg.gif) no-repeat center top;
	margin-top:5px;
	font-size:14px;
	text-align:right;	
}
.col-1-content a.more span{
	display: block;
    padding-right: 40px;
	line-height:14px;
	font-weight:bold;
}
.col-1-content:last-child a.more{
	background:url(../img/h3-confidential-shootingstars-bg.gif) no-repeat center top;
}
.col-1-content p{
	padding:5px 17px 0 17px;
	line-height:14px;
}
.col-1-content p span{
	font-weight:bold;
}

.col-2{
	width:30%;
	margin-top: 5px;
	float:right;
}
.col-1:nth-child(2){
	background:#ffffff url(../img/confidential-logo.gif) no-repeat center bottom;
	padding-bottom:20px;
}
	
.col-1-2{
	display: flex;
	justify-content: space-between;
	width:70%;
	
}
.col-1-2-title p{
	width: 45%;
	margin-top: 10px;
	background:url(../img/h2-top-movie-trailers-bg.gif) repeat-x;
	height: 25px;
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	padding-left:17px;
	border-bottom: 1px dashed #000000;
	font-weight:bold;
}
.movie-content{
	width:47.5%;
	background:#ffffff;
}
.col-1-2 .movie-content a{
	display:block;
	height:25px;
	padding-left:17px;
	color:#0a83cc;
	font-size: 12px;
	line-height: 25px;
	background:url(../img/h3-movie-trailers-bg.gif) repeat-x;
	font-weight:bold;
	text-decoration:none;
}
.col-1-2 .movie-content a span{
	float:right;
	height:25px;
	width:25px;
	display:block;
	background:url(../img/right.gif) no-repeat ;
}
.col-1-2 .movie-content:nth-child(2) a{
	background:#ffffff;
}
.col-1-2 .movie-content:nth-child(2) a span{
	float:right;
	height:14px;
	width:58px;
	display:block;
	background:url(../img/topic-star-ratings_02.gif) no-repeat;
    margin-top: 6px;
    margin-right: 15px;
}
.col-1-2 .movie-content img{
	margin:5px 5px 5px 10px;
	display:inline-block;
	float:left;
	width:30%;
}
.col-1-2 .movie-content p{
	float:right;
	width:60%;
	height:75px;
	padding-right:15px;
	font-size:12px;
	padding-top:10px;
}
.col-1-2 .movie-content p a{
	background:url(../img/film.gif) no-repeat top left;
	display:block;
	height:25px;
	width: 50%;
	text-decoration:none;
	line-height: 33px;
    padding-left: 30px;
}
.col-1-2 .movie-content a .right{
	background:url(../img/down.gif) no-repeat;
}
.img-film{
	background:url(../img/film.gif) no-repeat bottom left;
	display:block;
	height:25px;
	width: 50%;
	text-decoration:none;
	line-height: 33px;
    padding-left: 30px;
}
.selected{
	width:55%;
	margin-left: 5%;
}
.footer{
	margin-top:20px;
	border-top:#ffffff 1px dashed;
}
.list{
	display:flex;
	width:100%;
	color:#ffffff;
	text-align:center;
	justify-content: space-around;
	align-items: flex-end;
	height:80px;
}
.trailer{
	max-width: 100%;
	height: auto;
	background: url(../img/film.gif) no-repeat left center !important;
	padding-left: 35px !important;
	border-bottom: 1px dotted #cccccc;
}
.col-1-2 .movie-content p.clock-btn{
	width: 90%;
	padding: 0 0 10px 8%;
	margin-left: 2%;
	float: none;
	height: auto;
	background: url(../img/clock.gif) no-repeat left center !important;
	color:#296ea5;
}
.movie-content-min-height{
	height: 80px;
}
.play-show-now{
	width: 100%;
	display: flex;
	justify-content: center;
}
.play-show-now a{
	background: url(../img/now-showing-icon.gif) no-repeat left center !important;
	color:#000000 !important;
}
.col-1-2 .movie-content p.clock-btn a{
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: right;
}
.list img{
	display:block;
	text-align:center;
	margin: 0 auto;
}
.list p{
	text-align:center;
	padding-bottom:14px;
}
.list:nth-child(2) p img{
	margin-top:20px;
}
.footer-menu{
	width:100%;
	height:50px;
	background:#ffffff;
	position:relative;
}
a{
	text-decoration:none;
}
.last-menu{
	width: 80%;
	margin:0 auto;
	text-align:center;
}
.last-menu p{
	float:left;
	padding:10px 1px 10px 1px;
}
.btn-top{
	float:right;
	padding-top: 10px;
    padding-right: 10px;
}
.input-search{
	width:50%;
	margin-left:50px;
}
.btn-search{
	background:#a92265;
	color:#ffffff;
	border-color:#a92265;
}
.entertainment{
	background:url(../img/Entertainment.gif) no-repeat center top;
	height:100px;
	width:100%;
}
.search{
	margin:0 auto;
	padding-top:50px;
}