@import '_variables';
.btn{
    padding:5px 8px;
    cursor: pointer;
    //button radius
    @media (max-width:768px) {
        padding:7px 17px;
    }
    &:hover{
        opacity: 0.7;
    }
    &__radius{
        border-radius: 5px;
    }
    //button top
    &__top{
        border-radius: 50%;
        background: #1288d5;
        &--small{
            background: $cl-blue;  
            width: 30px;
            height:30px;
            img{
                max-width: 17px;
            }
        }
        &--page{
            position: fixed;
            bottom: 50px;
            right: 10px;
            width:80px;
            height:80px;
            flex-wrap: wrap;
            z-index: 100;
            align-items: center;
        }
    }
    cursor: pointer;
    border-radius: 5px;
    //button close
    &__close{
        border: $cl-grey 1px solid;
        color: $cl-grey;
        @media (max-width:768px) {
            font-size: 1.6875rem;
        }
        img{
            margin-right: 5px;
            @media (max-width:768px) {
                margin-right: 20px;
                width: 20px;
            }
        }
        @media (max-width:640px) {
            font-size: 1.5rem;
        }
    }
    //button line
    &__line{
        background:linear-gradient(#68dc1f, #3cbf1c);
        color: $cl-white;
        padding: 6px 0;
        max-width: 165px;
        margin: 10px auto 0;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0 1px #6ca262;
        text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F;
        font-size: 1.25rem;
        @media (max-width:768px){
            margin: 10px 7px;
            border-radius: 15px;
            font-size: 1.125rem;
            letter-spacing: 1px;
        }
    }
    //button twitter
    &__tw{
        background:linear-gradient(#3c9ad9, #3e8ac5);
        color: $cl-white;
        border-radius: 5px;
        margin: 9px auto 0;
        padding: 10px 0;
        max-width: 232px;
        width: 100%;
        margin-bottom: 3px;
        font-size: 1.125rem;
        @media (max-width:768px){
            margin: 10px 7px;
            max-width: 250px;
            font-size: 1.125rem;
            letter-spacing: 1px;
        }
    }
    &__tw--custom{
        padding: 24px 30px;
        border-radius: 0;
        font-size: 1.75rem;
        font-weight: 500;
        letter-spacing: -1px;
        margin-top: 38px;
        display: flex;
        max-width: 240px !important;
        img{
            margin-right: 34px;
            max-width: 42px;
            @media (max-width:480px){
                margin-right: 20px;
                max-width: 30px;
            }
        }
        @media (max-width:768px){
            margin-top: 5%;
        }
        @media (max-width:480px){
            margin: 15px 7px;
            padding: 10px;
        }
    }
    //button notice
    &__notice{
        border: $cl-white 1px solid;
        background: linear-gradient(#1087d5, #0054c2);
        border-radius: 5px;
        padding: 0 32px;
        font-size: 1rem;
        color: $cl-white;
        margin-left: 15px;
        @media (max-width:768px){
            padding: 4px 20px;
            border-radius: 10px;
        }
        span{
            margin-right: 10px;
            display: inline-block;
            img{
                max-width: 20px;
                margin-top: 5px;
                @media (max-width:768px){
                    max-width: 30px;
                }
                @media (max-width:540px){
                    max-width: 20px;
                }
            }
        }
        @media (max-width:768px){
            margin: 10px 0 10px 10px;
            font-size: 1.5rem;
            border: $cl-white 2px solid;
        }
        @media (max-width:540px){
            font-size: 1.125rem;
            padding: 0 15px;
        }
    }
    //button standard
    &__standard{
        padding: 10px;
        color: $cl-white;
        border: 1px solid $cl-white;
        display: inline-block;
        min-width: 100px;
        @media (max-width:768px) {
            font-size: 1.1875rem;
            min-width: 120px;
        }
        &--green{
            background: $cl-green;
            box-shadow: 0 1px $cl-green;
            box-shadow: 1px 1px $cl-green;
        }
        &--blue{
            background: $cl-medium-blue;
            box-shadow: 0 1px $cl-medium-blue;
            box-shadow: 1px 1px $cl-medium-blue;
        }
    }
    //button live in tab
    &__live{
        color: $cl-blue;
        padding: 6px 7px 9px;
        min-width: 120px;
        border-radius: 0;
        border: 3px solid $cl-blue;
        display: flex;
        align-items: center;
        img{
            margin-right: 5px;
            @media (max-width:768px) {
                max-width: 27px;
                width: 100%;
            }
            @media (max-width:480px) {
                max-width: 20px;
            }
        }
        @media (max-width:768px) {
           min-width: 194px; 
           font-size: 1.685rem;
           padding: 14px 10px 12px;
           margin-top: 15px;
        }
        @media (max-width:480px) {
            font-size: 1.25rem;
            min-width: 150px; 
        }
    }
    //button live in tab
    &__open{
        color: $cl-white;
        background: #cccccc;
        border-radius: 0;
        padding: 12px 7px;
        min-width: 126px;
        text-align: center;
        @media (max-width:768px) {
            min-width: 200px; 
            font-size: 1.6875rem;
            padding: 16px 10px;
            margin-top: 15px;
         }
         @media (max-width:480px) {
            font-size: 1.25rem;
            min-width: 156px; 
        }
    }
    //button evaluate
    &__evaluate{
        background: linear-gradient(#ffffff,#dee5e5);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 32.5%;
        margin-right: 10px;
        cursor: pointer;
        @media (max-width:768px) {
            max-width: 100%;
            flex-wrap: nowrap;
            padding: 25px 15px;
            align-items: center;
            margin-right: 0;
            margin-bottom: 10px;
        }
        @media (max-width:480px) {
            flex-wrap: wrap;
        }
        &:last-child{
            margin-right: 0;
            @media (max-width:768px) {
                margin-top: 10px;
            }
        }
        &--title{
            padding-top: 20px;
            font-size: 0.9375rem;
            line-height: 1.5;
            color: $cl-blue;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            @media (max-width:768px) {
                order: 1;
                font-size: 1.5rem;
                align-items: center;
                line-height: 1.2;
                padding-top: 0;
            }
            @media (max-width:480px) {
                width: 100%;
                font-size: 1.25rem;
            }
        }
        &--img{
            width: 100%;
            @media (max-width:768px) {
                order: 0;
                max-width:  165px;
            }
            @media (max-width:480px) {
                margin: 0 auto;
            }
            
        }
    }
    //button scroll down
    &__scroll--down{
        background: linear-gradient(#0062cb, #003593);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top: 0;
        border: 1px solid #ffffff;
        width: 100%;
        padding: 7px 0 6px;
        @media (max-width:768px) {
            order: 2;
            background: none;
            max-width: 35px;
            padding: 0;
            margin: 10px;
            border: 0;
        }
        @media (max-width:480px) {
            margin: 10px auto;
        }
    }
    &__scroll--img{
        @media (max-width:768px) {
            width: 100%;
        }
        
    }
   &__modal{
    color: $cl-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    &--close{ margin: 40px auto 0;
        font-weight: 600;
        padding: 6px 7px 9px;
        min-width: 147px;
        width: 127px;
        border: 3px solid $cl-blue;
        img{
            margin-right: 5px;
            @media (max-width:768px) {
                max-width: 27px;
                width: 100%;
            }
        }
        @media (max-width:768px) {
           min-width: 194px; 
           font-size: 1.6875;
           padding: 6px 10px 9px;
           margin-top: 15px;
          
        }
    }
    &--close1{
        background: $cl-blue;
        border-radius:50%;
        display: flex;
        min-width: 57px;
        min-height: 57px;
        position: absolute;
        top:-25px;
        right:-25px;
        img{
            max-width: 23px;
            width: 100%;
            @media (max-width:768px) {
                max-width: 27px;
                width: 100%;
            }
        }
       }
   }

}