@import 'foundation/_variables';
@font-face {
    font-family: ipamjm;
    src: url(/assets/font/ipamjm.ttf);
  }
  @font-face {
    font-family: Raleway;
    src: url(/assets/font/Raleway-Bold.ttf);
  }
  @font-face {
    font-family: Raleway-medium;
    src: url(/assets/font/Raleway-Medium.ttf);
  }
  @font-face {
    font-family: Raleway-regular;
    src: url(/assets/font/Raleway-Medium.ttf);
  }
.mean-bar{
    background: $white;
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    // padding:10px 10px 0 10px;
    z-index: 10;
}
.meanmenu-reveal{
    position: absolute;
    right:15px !important;
    top:15px !important;
    order: 1;
    font-size:25px !important;
    color:black;
    text-decoration: none;
    cursor: pointer;
    span{
        width: 40px;
        height:3px;
        display: block;
        background: black !important;
        color: black !important;
        margin-top: 5px;
    }
    
}
.nav{
    &__menu{
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        width:100%;
        
        
    }
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    .logo{
        padding-left: 25px;
        max-width: 65px;
        max-height: 34px;
    }
    .menu{

        list-style-type: none;
        max-width: 700px;
        width: 100%;
        display: flex;
        @media (max-width:980px) {
            max-width: 620px;
        }
        .search{
            display: flex;
            img{
                margin-right: 5px;
                max-width: 24px;
                max-height: 24px;
            }
        }
        li{
            // width: 25%;
            font-family: Raleway-medium ,sans-serif;
            padding-right: 25px;
            font-weight: bold;
            color:$color-gray;
            a{
                cursor: pointer;
                @media (max-width:768px) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                }
            }
            .link{
                img{
                    display: none;
                }
                
            }
            @media (max-width:768px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}
.mean-nav{
    @media (max-width:980px) {
        margin-top: 15px;
        width: 100%;
    }
    .logo{
        @media (max-width:980px) {
            margin-left: 15px;
        }
    }
    .menu{
        li{
            font-family: Raleway-medium ,sans-serif;
            // width: 25%;
            font-weight: bold;
            color:$color-gray;
            font-size: 25px;
            line-height: 2;
            border-bottom: 1px solid #e5e5e5;
            a{
                font-family: Raleway-medium ,sans-serif;
                cursor: pointer;
                @media (max-width:768px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                }
                img{
                    margin-right: 5px;
                    max-width: 24px;
                    max-height: 24px;
                }
            }
            .link{
                font-family: Raleway-medium ,sans-serif;
                img{
                    display: none;
                    @media (max-width:768px) {
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
                
            }
            @media (max-width:768px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}  
